{% load widget_tweaks %}

{% if request.user.is_authenticated %}

<form action=""
  method="post"
  id="operator-create-form"
  enctype="multipart/form-data">
  {% csrf_token %}
  <div class="card card-info">
    <div class="card-header">
      <span class="m-0 align-middle">{% trans "Создать оператора" %}</span>
    </div>
    <div class="card-body">
      <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
        {% for error in form.non_field_errors %}
        {{ error }}
        {% endfor %}
      </div>

      {% for field in form %}
      <div class="input-group my-1">
        <label class="input-group-prepend input-group-text"
          for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% render_field field class="form-control" placeholder=field.label %}
        <div class="{% if field.errors %}invalid{% endif %}">
          {% for error in field.errors %}
          <p class="help-block">{{ error }}</p>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="card-footer">
      <button type="submit"
        class="btn btn-success">{% trans "Создать" %}</button>
    </div>
  </div>
</form>
{% endif %}
