{% extends "base.html" %}
{% block title %} - {% trans "База сети" %} {{ observation.id }}{% endblock %}

{% block css %}
<link rel="stylesheet"
  type="text/scss"
  href="{% static 'css/pages/network_base.scss' %}">
{% endblock css %}

{% block content %}
<section class="container block-h1">
  <h1>{% trans "База сети" %}</h1>
</section>
<section>
  <div class="container container-db">
    <div class="row wrap justify-content-between">
      <div class="card col-12 col-lg-5">
        <a href="{% url 'base:gallery_view' %}">
          <img src="{% static 'img/db/gallery_card.jpg' %}"
            alt="{% trans 'Фотография из космоса' %}">
          <div class="title">
            <p>{% trans "Галерея" %}</p>
          </div>
        </a>
      </div>
      <div class="satellites col-12 col-lg-7 pr-lg-2">
        <div class="h4 title">{% trans "Спутники, которые скоро сойдут с орбиты" %}</div>
        <div class="satellites__list">
          <table class="table hover burn-satellites-table">
            <thead>
              <tr>
                <th scope="col">{% trans "Имя" %}</th>
                <th scope="col">NORAD</th>
                <th scope="col">{% trans "Апогей" %}</th>
                <th scope="col">{% trans "Перигей" %}</th>
                <th scope="col">{% trans "Сход с орбиты" %}</th>
              </tr>
            </thead>
            <tbody id="satellite-data">
              {% for item in satellites %}
              <tr>
                <td><a href="#"
                    data-toggle="modal"
                    data-target="#SatelliteModal"
                    data-id="{{ item.norad_cat_id }}"
                    data-sat-id="{{ item.sat_id }}">
                    {{ item.name }}
                  </a></td>
                <td>{{item.norad_cat_id}}</td>
                <td>{{item.apogee|floatformat:2}}</td>
                <td>{{item.perigee|floatformat:2}}</td>
                <td>
                  {% if item.decay_date == None %}
                  {% trans "Не определено" %}
                  {% else %}
                  {{item.decay_date|date:"d-m-Y"}}
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="table_description">
          <div>
            {% trans "Данная таблица расчитывается по последним актуальным TLE и обновляется каждые 24 часа." %}
            <br>
            {% trans "Просим учесть, что точность прогноза снижается при отдалении от текущей даты" %}
          </div>
          <div class="table_description">
            {% trans "Время расчета таблицы" %}: {{ table_date|date:"d-m-Y H:i" }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}

{% block modal %}
<!-- Satellite Modal -->
{% include 'includes/satellite.html' %}

{% endblock modal %}

{% block javascript %}
<script src="{% static 'js/satellite_modal.js' %}"></script>
{% endblock javascript %}