{% extends "base.html" %}
{% block title %} - {% trans "Галерея" %} {% endblock %}

{% block css %}
<link rel="stylesheet"
  type="text/scss"
  href="{% static 'css/pages/gallery.scss' %}">
{% endblock css %}

{% block content %}
<section class="container block-h1">
  <div class="btn-back"><a href="{% url 'base:db_view' %}">{% trans "Назад" %}</a></div>
  <h1>{% trans "Галерея" %}</h1>
</section>
<section class="block-gallery">
  <div class="container">
    <div class="row wrap">
      {% for sat in satellites %}
      <div class="col image-card">
        <div class="loading-spinner">
          <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
        </div>
        <div class="title"
          data-satellite="{{ sat.sat_id }}">{{ sat.name }}</div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock content %}

{% block javascript %}
<script src="{% static 'js/gallery.js' %}"></script>
{% endblock javascript %}
