{% extends "base.html" %}
{% block title %} — {% trans "Запуск" %} {{ launch.launch_name }}{% endblock %}
{% block meta %}
<meta name="description"
  content="{% trans 'Проект «СОНИКС» представляет собой бесплатное программное обеспечение и аппаратную платформу с открытым исходным кодом, предназначенную для создания школьной сети спутниковых наземных станций по всей России для приема данных с космических аппаратов, их обработки и визуализации.' %}">
{% endblock meta %}
{% block css %}
<link rel="stylesheet"
  href="{% static 'lib/bootstrap-select/dist/css/bootstrap-select.min.css' %}">
<link rel="stylesheet"
  href="{% static 'lib/@fancyapps/ui/dist/fancybox/fancybox.css' %}">
<link rel="stylesheet"
  href="{% static 'lib/admin-lte/plugins/flag-icon-css/css/flag-icons.min.css' %}">
<link rel="stylesheet"
  type="text/scss"
  href="{% static 'css/pages/satellite_view.scss' %}">
<link rel="stylesheet"
  type="text/scss"
  href="{% static 'css/pages/spectrum.scss' %}">
<link rel="stylesheet"
  type="text/scss"
  href="{% static 'css/pages/launches_detail.scss' %}">
{% endblock css %}

{% block body-class %}class="home"{% endblock %}

{% block content %}
<section class="container block-h1 launches_header_section ">
  <div class="btn-back"><a href="">{% trans "Назад" %}</a></div>
  <div class="row">
    <h2>{{ launch.launch_name }}<br>/{{launch.get_space_port_display}}</h2>
    <ul class="launches_header_time_wrapper">
      <li class="launches_header_time_item_wrapper">
        <h4 class="h4">{% trans "Ориентировочное время запуска" %}</h4>
        <span>{{ launch.launch_date|date:"Y-m-d\TH:i:s\Z" }}</span>
      </li>
      <li class="launches_header_time_item_wrapper">
        <h4 class="h4">{% trans "Обратный отсчёт" %}</h4>
        <span id="launched_timer"
          data-start-date="{{ launch.launch_date|date:'Y-m-d\TH:i:s\Z' }}"></span>
      </li>
    </ul>
  </div>
</section>
<section id="info"
  class="block-satellites-information"
  data-id="{{ launch.id }}">
  <div class="container">
    <div class="row">
      <div class="col sattelite-img-wrapper">
        {% if launch.image %}
        <a href="{{ launch.image.url }}"
          data-fancybox="launch-image"
          class="sputnik-img"><img src="{{ launch.image.url }}"
            alt="{% trans 'Информация о запуске' %}"
            class="sattelite-img"></a>
        {% else %}
        <a href="/static/img/sat.png"
          data-fancybox="launch-image"
          class="sputnik-img"><img src="/static/img/sat.png"
            alt="{% trans 'Информация о запуске' %}"
            class="sattelite-img"></a>
        {% endif %}
      </div>
      <div class="col information-block">
        <div class="h2">{% trans "Информация о запуске" %}</div>
        <div class="information-block__table">
          <div class="row">
            <div class="title">{% trans "Ракета-носитель" %}</div>
            <div class="description">
              {% if launch.rocket_type %}
              {{ launch.get_rocket_type_display }}
              {% else %}
              <div class="empty-val"></div>
              {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="title">{% trans "Разгонный блок" %}</div>
            <div class="description">
              {% if launch.boost_type %}
              {{ launch.get_boost_type_display }}
              {% else %}
              <div class="empty-val"></div>
              {% endif %}
            </div>
          </div>
          <div class="row">
            <div id="sat_id"
              class="title">{% trans "Космодром" %}
            </div>
            <div class="description">
              {% if launch.space_port %}
              {{ launch.get_space_port_display }}
              {% else %}
              <div class="empty-val"></div>
              {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="title">{% trans "Страна" %}</div>
            <div class="description">
              {% if launch.country %}
              {% for country in launch.country %}
              <span class="align-middle flag-icon flag-icon-{{ country.code|lower }}"></span>
              {% endfor %}
              {% else %}
              <div class="empty-val"></div>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="row information-block__status">
          <div class="sattelite-status">
            <div class="progress">
              <div class="progress-bar pb-green"
                style="width: {{ launch_stat.alive }}%;"
                title="{% trans 'Активные' %}: {{ launch_stat.alive_count }} ({{ launch_stat.alive }}%)"
                data-toggle="tooltip">
              </div>
              <div class="progress-bar pb-orange"
                style="width: {{ launch_stat.dead }}%;"
                title="{% trans 'Неактивные' %}: {{ launch_stat.dead_count }} ({{ launch_stat.dead }}%)"
                data-toggle="tooltip">
              </div>
              <div class="progress-bar pb-red"
                style="width: {{ launch_stat.re_entered }}%;"
                title="{% trans 'Сошли с орбиты' %}: {{ launch_stat.re_entered_count }} ({{ launch_stat.re_entered }}%)"
                data-toggle="tooltip">
              </div>
              <div class="progress-bar pb-gray"
                style="width: {{ launch_stat.unknown }}%;"
                title="{% trans 'Неизвестные' %}: {{ launch_stat.unknown_count }} ({{ launch_stat.unknown }}%)"
                data-toggle="tooltip">
              </div>
              <div class="progress-bar pb-blue"
                style="width: {{ launch_stat.future }}%;"
                title="{% trans 'Будущие' %}: {{ launch_stat.future_count }} ({{ launch_stat.future }}%)"
                data-toggle="tooltip">
              </div>
            </div>
          </div>

          <div class="title status">{% trans "Количество спутников" %}</div>
          <div class="description status">
            <strong>{{ launch_stat.total }}</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="block-table">
  <div class="container">
    <div class="wrapper">
      <div class="responsive-table">
        <table id="sats"
          class="table dataTable db-table clickable hover"
          role="grid">
          <thead>
            <th class="first-th"
              data-priority="1">
              {% trans "Название" %}
            </th>
            <th data-priority="2">
              {% trans "NORAD" %}
            </th>
            <th data-priority="3">
              {% trans "Тип миссии" %}
            </th>
            <th data-priority="4">
              {% trans "Позывной"%}
            </th>
            <th data-priority="5">
              {% trans "Частоты"%}
            </th>
            <th data-priority="6">
              {% trans "Сеть" %}
            </th>
            <th data-priority="7">
              {% trans "Тип выпуска" %}
            </th>
            <th data-priority="8">
              {% trans "Статус" %}
            </th>
          </thead>
          <tbody>
            {% for satellite in launch.db_satellites.all %}
            <tr class="clickable-row">
              <td class="first-td">
                <a href="{% url 'base:satellite_view' sat_id=satellite.sat_id %}"></a>
                <div class="no-wrap">
                  <a href="#"
                    data-toggle="modal"
                    data-target="#SatelliteModal"
                    data-id="{{ satellite.norad_cat_id }}"
                    data-sat-id="{{ satellite.sat_id }}">
                    {{ satellite.name }}
                  </a>
                </div>
              </td>
              <td>
                {{ satellite.norad_cat_id }}
              </td>
              <td>
                -
              </td>
              <td>
                {% if satellite.call_sign %}
                {{ satellite.call_sign }}
                {% else %}
                -
                {% endif %}
              </td>
              <td>
                {% for transmitter in satellite.transmitter_entries.all|dictsort:"downlink_low" %}
                {% ifchanged %}{{ transmitter.downlink_low|frq }};{% endifchanged %}
                {% empty %}
                -
                {% endfor %}
              </td>
              <td>
                {% if satellite.network %}
                {{ satellite.network }}
                {% else %}
                -
                {% endif %}
              </td>
              <td>
                {% if satellite.deploy_directly %}
                {% trans "Напрямую" %}
                {% else %}
                {% check_sat_exist sat_id=satellite.deployer as sat_deployer %}
                {% if sat_deployer %}
                <a href="{% url 'base:satellite_view' sat_id=satellite.deployer %}"> {{ sat_deployer }}</a>
                {% else %}
                {{ satellite.deployer }}
                {% endif %}
                {% endif %}
              </td>
              <td>
                <div class="no-wrap">
                  <span
                    class="circle circle-{% if satellite.unknown and satellite.status == 'alive' %}gray{% elif satellite.status == 'alive' %}green{% elif satellite.status == 're-entered' %}red{% elif satellite.status == 'future' %}blue{% else %}orange{% endif %}"></span>
                  {% if satellite.unknown and satellite.status == 'alive' %} {% trans "Неизвестный" %}
                  {% elif satellite.status == 'alive' %} {% trans "Активный" %}
                  {% elif satellite.status == 're-entered' %}{% trans "Сошёл с орбиты" %}
                  {% elif satellite.status == 'future' %}{% trans "Будущий" %}
                  {% else %}{% trans "Неактивный" %}{% endif %}
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            {% for satellite in launch.launch_satellites.all %}
            <tr class="inactive-row">
              <td>
                {% if satellite.name %}
                {{ satellite.name }}
                {% else %}
                -
                {% endif %}
              </td>
              <td>
                {% if satellite.norad %}
                {{ satellite.norad }}
                {% else %}
                -
                {% endif %}
              </td>
              <td>
                {% if satellite.mission_type %}
                {% for mission_type in satellite.get_mission_type_display %}
                {{ mission_type }};
                {% endfor %}
                {% else %}
                -
                {% endif %}
              </td>
              <td>
                {% if satellite.call_sign %}
                {{ satellite.call_sign }}
                {% else %}
                -
                {% endif %}
              </td>
              <td>
                {% for frequency in satellite.frequency %}
                {{ frequency|frq }};
                {% empty %}
                -
                {% endfor %}
              </td>
              <td>
                {% if satellite.network %}
                {{ satellite.network }}
                {% else %}
                -
                {% endif %}
              </td>
              <td>
                {% if satellite.deploy_directly %}
                {% trans "Напрямую" %}
                {% else %}
                {% check_sat_exist sat_id=satellite.deployer as sat_deployer %}
                {% if sat_deployer %}
                <a href="{% url 'base:satellite_view' sat_id=satellite.deployer %}"> {{ sat_deployer }}</a>
                {% else %}
                {{ satellite.deployer }}
                {% endif %}
                {% endif %}
              </td>
              <td>
                <div class="no-wrap">
                  <span
                    class="circle circle-{% if satellite.sat_status == 'Неизвестный' %}gray{% elif satellite.sat_status == 'Активный' %}green{% elif satellite.sat_status == 'Сошел с орбиты' %}red{% elif satellite.sat_status == 'Будущий' %}blue{% else %}orange{% endif %}"></span>
                  {{ satellite.get_sat_status_display }}
                </div>
              </td>
            </tr>
            {% endfor %}
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</section>
{% if request.user.is_superuser %}
<section class="container launches-detail-section">
  <form class="tables-filtering__form launches_detail_form"
    action="{% url 'base:schedule_launch_observations' launch_id=launch.id %}"
    method="post">{% csrf_token %}
    <div class="row">
      <div class="form-group col">
        <label class="launches_detail_form_label">
          Период
          <select id="is-period-select"
            class="form-control select_launches selectpicker"
            name="period">
            <option value="12"
              selected>
              12ч
            </option>
            <option value="24">
              24ч
            </option>
            <option value="48">
              48ч
            </option>
            <option value="72">
              72ч
            </option>
          </select>
        </label>
      </div>
      <div class="form-group col">
        <label class="launches_detail_form_label">
          Спутники
          <select id="is-satellite-select"
            class="form-control select_launches selectpicker"
            name="satellites">
            <option value=""
              selected>
              Все
            </option>
            <option value="alive">
              Активные
            </option>
            <option value="unknown">
              Неизвестные
            </option>
          </select>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="form-group col">
        <label class="launches_detail_form_label">
          Горизонт (°)
          <div>
            <input type="number"
              class="w-100"
              name="horizon"
              value="{{ launch_horizon }}">
          </div>
        </label>
      </div>
      <div class="form-group col">
        <label class="launches_detail_form_label">
          Элевация (°)
          <div>
            <input type="number"
              class="w-100"
              name="elevation"
              value="{{ launch_elevation }}">
          </div>
        </label>
      </div>
      <div class="form-group col">
        <label class="launches_detail_form_label">
          Длительность наблюдений (с)
          <div>
            <input type="number"
              class="w-100"
              name="duration"
              value="{{ launch_duration }}">
          </div>
        </label>
      </div>
    </div>
    <button type="submit"
      class="btn btn-blue launches_detail_form_button">{% trans "Запланировать наблюдения" %}
    </button>
  </form>
  <form class="tables-filtering__form launches_detail_form">
    <div class="row">
      <div class="form-group col">
        <label class="launches_detail_form_label">
          Отменить наблюдения
          <select id="is-auto-select"
            class="form-control select_launches selectpicker">
            <option value="0">
              Все
            </option>
            <option value="1">
              Автопланировщика
            </option>
          </select>
        </label>
      </div>
      <div class="form-group col">
        <button type="button"
          id="delete-obs-btn"
          class="btn btn-orange launches_detail_form_button">{% trans "Отменить наблюдения" %}
        </button>
      </div>
    </div>
  </form>
  <div id="delete-obs-spinner"
    class="loading-spinner">
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>
</section>
{% endif %}

<section class="spectrum-block container">
  <div id="transmitters-chart-container">
    <div id="spectrum-spinner"
      class="loading-spinner">
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
{% block modal %}
<!-- Satellite Modal -->
{% include 'includes/satellite.html' %}
{% endblock modal %}

{% block javascript %}
<script src="{% static 'lib/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'lib/admin-lte/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'lib/admin-lte/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'lib/admin-lte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'lib/@fancyapps/ui/dist/fancybox/fancybox.umd.js' %}"></script>
<script src="{% static 'lib/d3/dist/d3.min.js' %}"></script>
<script src="{% static 'js/spectrum.js' %}"></script>
<script src="{% static 'js/timer.js' %}"></script>
<script src="{% static 'js/launch.js' %}"></script>
<script src="{% static 'js/satellite_modal.js' %}"></script>
{% endblock %}