{% extends "base.html" %}
{% block title %} — {% trans "Запуски" %}{% endblock %}
{% block meta %}
<meta name="description"
    content="{% trans 'Проект «СОНИКС» представляет собой бесплатное программное обеспечение и аппаратную платформу с открытым исходным кодом, предназначенную для создания школьной сети спутниковых наземных станций по всей России для приема данных с космических аппаратов, их обработки и визуализации.' %}">
{% endblock meta %}
{% block css %}
<link rel="stylesheet"
    href="{% static 'lib/mapbox-gl/dist/mapbox-gl.css' %}">
<link rel="stylesheet"
    type="text/scss"
    href="{% static 'css/pages/home.scss' %}">
{% endblock css %}

{% block body-class %}class="home"{% endblock %}

{% block content %}
<section class="container block-h1">
    <h1>{% trans "Запуски" %}</h1>
</section>
<section class="block-table ">
    <div class="container">
        <div class="wrapper">
            <div class="responsive-table">
                <table id="sats"
                    class="table dataTable db-table clickable hover"
                    role="grid">
                    <thead>
                        <th data-priority="1">
                            {% trans "Название" %}
                        </th>
                        <th data-priority="2">
                            {% trans "Ориентировочное время запуска" %}
                        </th>
                        <th data-priority="3">
                            {% trans "Отсчёт времени" %}
                        </th>
                        <th data-priority="3">
                            {% trans "Статус" %}
                        </th>
                    </thead>
                    <tbody>
                        {% for launch in launches %}
                        <tr class="clickable-row">
                            <td>
                                <a href="{% url 'base:launch_view' launch_id=launch.id %}"
                                    style="line-height: 0;">
                                    {{ launch.launch_name }} / {{ launch.get_space_port_display }} /
                                    {{ launch.launch_date|date:"d.m.Y" }}
                                </a>
                            </td>
                            <td>
                                {% if launch.launch_date %}
                                {{ launch.launch_date|date:"Y-m-d\TH:i:s\Z" }}
                                {% else %}
                                -
                                {% endif %}
                            </td>
                            <td>
                                {% if launch.launch_date %}
                                {{launch.launch_date|naturaltime_our}}
                                {% else %}
                                -
                                {% endif %}
                            </td>
                            <td class="with-procent">
                                {% if launch.status %}
                                {{ launch.status }}
                                {% else %}
                                -
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block javascript %}
<script src="{% static 'js/map.js' %}"></script>
{% endblock %}