{% extends "base.html" %}
{% block title %} - {% trans "Спутники" %}{% endblock %}

{% block css %}
<link rel="stylesheet"
  href="{% static 'lib/admin-lte/plugins/flag-icon-css/css/flag-icons.min.css' %}">
<link rel="stylesheet"
  href="{% static 'lib/@eonasdan/tempus-dominus/dist/css/tempus-dominus.min.css' %}">
<link rel="stylesheet"
  href="{% static 'lib/bootstrap-select/dist/css/bootstrap-select.min.css' %}">
<link rel="stylesheet"
  type="text/scss"
  href="{% static 'css/pages/satellites.scss' %}">
{% endblock css %}

{% block body-class %}class="satellites"{% endblock %}

{% block content %}
<section class="container block-h1">
  <h1>{% trans "Спутники" %}</h1>
</section>
<section class="tables-filtering container">
  <form method="get"
    action="{% url 'base:satellites_list' %}"
    id="satellitesFilteringForm"
    class="tables-filtering__form">
    <div class="row">
      <div class="form-group col">
        <label>{% trans "Статус" %}
          <div class="checkbox-group">
            <label class="btn btn-green btn-sm {% if alive == '0' %}inactive{% endif %}"
              aria-expanded="true"
              aria-controls="{% trans 'Активный' %}"
              data-toggle="tooltip"
              data-placement="bottom"
              title="{% trans 'Активный' %}">
              <input type="checkbox"
                name="alive"
                value="0"
                {% if alive == '0' %}checked{% endif %}
                autocomplete="off">
              <span class="bi bi-check"
                aria-hidden="true"></span>
            </label>
            <label class="btn btn-red btn-sm {% if re_entered == '0' %}inactive{% endif %}"
              aria-expanded="true"
              aria-controls="{% trans 'Сошёл с орбиты' %}"
              data-toggle="tooltip"
              data-placement="bottom"
              title="{% trans 'Сошёл с орбиты' %}">
              <input type="checkbox"
                name="re_entered"
                value="0"
                {% if re_entered == '0' %}checked{% endif %}
                autocomplete="off">
              <span class="bi bi-x"
                aria-hidden="true"></span>
            </label>
            <label class="btn btn-orange btn-sm {% if dead == '0' %}inactive{% endif %}"
              aria-expanded="true"
              aria-controls="{% trans 'Неактивный' %}"
              data-toggle="tooltip"
              data-placement="bottom"
              title="{% trans 'Неактивный' %}">
              <input type="checkbox"
                name="dead"
                value="0"
                {% if dead == '0' %}checked{% endif %}
                autocomplete="off">
              <span class="bi bi-exclamation-triangle"
                aria-hidden="true"></span>
            </label>
            <label class="btn btn-blue btn-sm {% if future == '0' %}inactive{% endif %}"
              aria-expanded="true"
              aria-controls="{% trans 'Будущий' %}"
              data-toggle="tooltip"
              data-placement="bottom"
              title="{% trans 'Будущий' %}">
              <input type="checkbox"
                name="future"
                value="0"
                {% if future == '0' %}checked{% endif %}
                autocomplete="off">
              <span class="bi bi-clock"
                aria-hidden="true"></span>
            </label>
          </div>
        </label>
      </div>
      <div class="form-group col">
        <label>{% trans "Название спутника" %}
          <div>
            <input type="text"
              id="satellite-names"
              class="w-100"
              name="name"
              aria-labelledby="search-label"
              {% if name is not None %}
              value="{{ name }}"
              {% endif %}>
          </div>
        </label>
      </div>
      <div class="form-group col">
        <label>{% trans 'Оператор' %}
          <select class="form-control selectpicker"
            data-style="btn"
            name="operator"
            autocomplete="off"
            data-size="10"
            id="operator-selection"
            data-live-search="false">
            <option value=""
              selected>{% trans 'Все' %}</option>
            {% for operator in operators %}
            <option data-operator="{{ operator.id }}"
              value="{{ operator.id }}"
              {% if operator.id == selected_operator %}selected{% endif %}>
              {{ operator.id }} - {{ operator.name }}
            </option>
            {% endfor %}
          </select>
        </label>
      </div>
      <div class="form-group col">
        <label>{% trans "Сеть" %}
          <select class="form-control selectpicker"
            data-style="btn"
            name="network"
            autocomplete="off"
            data-size="10"
            id="network-selection"
            data-live-search="false">
            <option value=""
              selected>{% trans 'Все' %}</option>
            {% for network in networks %}
            <option data-network="{{ network.id }}"
              value="{{ network.id }}"
              {% if network.id == selected_network %}selected{% endif %}>
              {{ network.id }} - {{ network.name }}
            </option>
            {% endfor %}
          </select>
        </label>
      </div>
    </div>
    <div class="hidden-filters {% if more_filtered == False %}hide-row{% endif %}">
      <div class="row">
        <div class="form-group col">
          <label>{% trans "Принятые данные за:" %}
            <select class="form-control selectpicker"
              data-style="btn"
              name="period"
              autocomplete="off"
              id="data-period-selection"
              data-sort="{{ period }}"
              data-live-search="false">
              <option value="a"
                class="period"
                selected>{% trans "Всё время" %}</option>
              <option value="h"
                class="period"
                {% if period == 'h' %}selected{% endif %}>{% trans "1 час" %}</option>
              <option value="d"
                class="period"
                {% if period == 'd' %}selected{% endif %}>{% trans "1 день" %}</option>
              <option value="w"
                class="period"
                {% if period == 'w' %}selected{% endif %}>{% trans "1 неделю" %}</option>
              <option value="m"
                class="period"
                {% if period == 'm' %}selected{% endif %}>{% trans "1 месяц" %}</option>
              <option value="y"
                class="period"
                {% if period == 'y' %}selected{% endif %}>{% trans "1 год" %}</option>
            </select>
          </label>
        </div>
        <div class="form-group col">
          <label class="datetimepicker-start control-label">{% trans "Начало периода" %}
            <div class='input-group datetimepicker'
              id="datetimepicker-start"
              {% if start is not None %}
              data-value="{{ start }}"
              {% endif %}
              data-td-target-input="nearest"
              data-td-target-toggle="nearest">
              <input data-td-target="#datetimepicker-start"
                type="text"
                name="start"
                autocomplete="off" />
              <span class="input-group-append"
                data-td-target="#datetimepicker-start"
                data-td-toggle="datetimepicker">
                <i class="input-group-text bi bi-calendar3"></i>
              </span>
            </div>
          </label>
        </div>
        <div class="form-group col">
          <label class="control-label">{% trans "Конец периода" %}
            <div class='input-group datetimepicker'
              id="datetimepicker-end"
              {% if end is not None %}
              data-value="{{ end }}"
              {% endif %}
              data-td-target-input="nearest"
              data-td-target-toggle="nearest">
              <input data-td-target="#datetimepicker-end"
                type="text"
                name="end"
                autocomplete="off" />
              <span class="input-group-append"
                data-td-target="#datetimepicker-end"
                data-td-toggle="datetimepicker">
                <i class="input-group-text bi bi-calendar3"></i>
              </span>
            </div>
          </label>
        </div>
        <div class="form-group col">
          <label>{% trans "Наличие декодера" %}
            <select class="form-control selectpicker"
              data-style="btn"
              name="decoder"
              autocomplete="off"
              data-sort="{{ period }}"
              data-live-search="false">
              <option value=""
                class="period"
                selected>{% trans "Не важно" %}</option>
              <option value="y"
                class="period"
                {% if has_decoder == 'y' %}selected{% endif %}>{% trans "Да" %}</option>
              <option value="n"
                class="period"
                {% if has_decoder == 'n' %}selected{% endif %}>{% trans "Нет" %}</option>
            </select>
          </label>
        </div>
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col">
        <div id="show-all-filters"
          class="btn btn-big btn-gray {% if more_filtered == True %}show{% endif %}">
          {% if more_filtered == False %}{% trans "Больше фильтров" %}{% else %}{% trans "Меньше фильтров" %}{% endif %}
        </div>
      </div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col">
        <button type="submit"
          class="btn btn-big btn-blue">{% trans "Поиск" %}</button>
      </div>
    </div>
  </form>
</section>
<section class="block-table">
  <div class="container">
    <div class="wrapper">
      <table id="satellitesTable"
        class="table dataTable db-table clickable hover"
        role="grid">
        <thead>
          <th data-priority="1"
            data-visible="true"
            style="width: 0;"></th>
          <th class="first-th"
            data-priority="2"
            data-namecol="Name"
            data-visible="{% if columns.Название != None %}{{ columns.Название }}{% else %}true{% endif %}">
            {% trans "Название" %}</th>
          <th data-priority="3"
            data-namecol="Norad"
            data-visible="{% if columns.NORAD != None %}{{ columns.NORAD }}{% else %}true{% endif %}">
            {% trans "NORAD" %}
          </th>
          <th data-priority="4"
            data-namecol="Status"
            data-visible="{% if columns.Статус != None %}{{ columns.Статус }}{% else %}true{% endif %}">
            {% trans "Статус" %}</th>
          <th data-priority="5"
            data-namecol="Operator"
            data-visible="{% if columns.Оператор != None %}{{ columns.Оператор }}{% else %}true{% endif %}">
            {% trans "Оператор" %}</th>
          <th data-priority="6"
            data-namecol="Network"
            data-visible="{% if columns.Сеть != None %}{{ columns.Сеть }}{% else %}true{% endif %}">{% trans "Сеть" %}
          </th>
          <th data-priority="7"
            data-namecol="Transmitters"
            data-visible="{% if columns.Передатчики != None %}{{ columns.Передатчики }}{% else %}true{% endif %}">
            {% trans "Передатчики" %}</th>
          <th data-priority="7"
            data-namecol="CallSign"
            data-visible="{% if columns.Позывной != None %}{{ columns.Позывной }}{% else %}true{% endif %}">
            {% trans "Позывной" %}</th>
          <th data-priority="8"
            data-namecol="Data"
            data-visible="{% if columns.Данные != None %}{{ columns.Данные }}{% else %}false{% endif %}">
            {% trans "Данные" %}</th>
          <th data-priority="9"
            data-namecol="Obs"
            data-visible="{% if columns.Наблюдения != None %}{{ columns.Наблюдения }}{% else %}false{% endif %}">
            {% trans "Наблюдения" %}</th>
          <th data-priority="10"
            data-namecol="Launched"
            data-sortable="true"
            data-visible="{% if columns.Запуск != None %}{{ columns.Запуск }}{% else %}false{% endif %}">
            {% trans "Запуск" %}</th>
          <th data-priority="11"
            data-namecol="Country"
            data-sortable="true"
            data-visible="{% if columns.Страна != None %}{{ columns.Страна }}{% else %}false{% endif %}">
            {% trans "Страна" %}</th>
        </thead>
        <tbody>
          {% for satellite in satellites %}
          <tr class="clickable-row"
            data-href="{% url 'base:satellite_view' sat_id=satellite.sat_id %}">
            <td class='details-control'
              style="width: 0;">
              <a href="{% url 'base:satellite_view' sat_id=satellite.sat_id %}">
                <i class="fa fa-plus-square"
                  aria-hidden="true"></i>
              </a>
            </td>
            <td class="first-td">
              <div class="overlap-lines link">
                <a href="#"
                  data-toggle="modal"
                  data-target="#SatelliteModal"
                  data-id="{{ satellite.norad_cat_id }}"
                  data-sat-id="{{ satellite.sat_id }}">
                  {{ satellite.name }}
                </a>
              </div>
            </td>
            <td>
              {{ satellite.norad_cat_id }}
            </td>
            <td>
              <div class="no-wrap">
                <span
                  class="circle circle-{% if satellite.status == 'alive' %}green{% elif satellite.status == 're-entered' %}red{% elif satellite.status == 'future' %}blue{% else %}orange{% endif %}"></span>
                {% if satellite.status == 'alive' %} {% trans "Активный" %}
                {% elif satellite.status == 're-entered' %}{% trans "Сошёл с орбиты" %}
                {% elif satellite.status == 'future' %}{% trans "Будущий" %}
                {% else %}{% trans "Неактивный" %}{% endif %}
              </div>
            </td>
            <td>
              {% if satellite.operator == None %}
              -
              {% else %}
              {{ satellite.operator }}
              {% endif %}
            </td>
            <td>
              {% if satellite.network == None %}
              -
              {% else %}
              {{ satellite.network }}
              {% endif %}
            </td>
            <td>
              {{ satellite.approved_transmitters_count }}
            </td>
            <td>
              {% if satellite.call_sign == None %}
              -
              {% else %}
              {{ satellite.call_sign }}
              {% endif %}
            </td>
            <td>
              {{ satellite.total_count }}
            </td>
            <td>
              {{ satellite.total_obs }}
            </td>
            <td>
              {% if satellite.launched == None %}
              -
              {% else %}
              {{ satellite.launched|date:"Y-m-d" }}
              {% endif %}
            </td>
            <td>
              {% for country in satellite.countries %}
              <span class="align-middle flag-icon flag-icon-{{ country.code|lower }}"></span>
              {% endfor %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>
{% endblock content %}

{% block modal %}
<!-- Satellite Modal -->
{% include 'includes/satellite.html' %}

{% endblock modal %}

{% block javascript %}
<script src="{% static 'lib/moment/min/moment.min.js' %}"></script>
<script src="{% static 'lib/@popperjs/core/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'lib/@eonasdan/tempus-dominus/dist/js/tempus-dominus.min.js' %}"></script>
<script src="{% static 'lib/@eonasdan/tempus-dominus/dist/plugins/customDateFormat.js' %}"></script>
<script src="{% static 'lib/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'lib/admin-lte/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'lib/admin-lte/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'lib/admin-lte/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'lib/admin-lte/plugins/datatables-buttons/js/buttons.colVis.js' %}"></script>
<script src="{% static 'lib/admin-lte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'lib/admin-lte/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/satellites.js' %}"></script>
<script src="{% static 'js/satellite_modal.js' %}"></script>
{% endblock %}