{% extends "base.html" %}
{% block title %} - {% trans "Статистика спутников" %}{% endblock %}

{% block css %}
<link rel="stylesheet"
  href="{% static 'lib/@eonasdan/tempus-dominus/dist/css/tempus-dominus.min.css' %}">
<link rel="stylesheet"
  href="{% static 'lib/bootstrap-select/dist/css/bootstrap-select.min.css' %}">
<link rel="stylesheet"
  type="text/scss"
  href="{% static 'css/pages/satellites.scss' %}">
{% endblock css %}

{% block body-class %}class="statistics"{% endblock %}

{% block content %}
<section class="container block-h1">
  <div class="btn-back"><a href="{% url 'base:statistics' %}">{% trans "Назад" %}</a></div>
  <h1>{% trans "Статистика: спутники" %}</h1>
</section>
<section class="tables-filtering container">
  <form class="tables-filtering__form"
    method="get"
    action="{% url 'base:satellite_statistics' %}">
    <div class="row">
      <div class="form-group col">
        <label>{% trans "Сеть станций"%}
          <div class="checkbox-group">
            <label class="btn btn-orange btn-sm status-selector {% if sonik_param != None %}active{% endif %}"
              aria-expanded="true"
              aria-controls="sonik"
              data-toggle="tooltip"
              data-placement="bottom"
              title="{% trans 'Сеть СОНИКС' %}">
              <input type="radio"
                name="sonik"
                value="1"
                {% if sonik_param != None %}checked{% endif %}
                autocomplete="off">
              {% trans "СОНИКС" %}
            </label>
            <label class="btn btn-blue btn-sm status-selector {% if sonik_param == None %}active{% endif %}"
              aria-expanded="true"
              aria-controls="all"
              data-toggle="tooltip"
              data-placement="bottom"
              title="{% trans 'Все сети' %}">
              <input type="radio"
                name="all"
                {% if sonik_param == None %}checked
                value="1"
                {% else %}value="0"
                {% endif %}
                autocomplete="off">
              {% trans "Все" %}
            </label>
          </div>
        </label>
      </div>
      <div class="form-group col">
        <label>{% trans "Данные за период" %}
          <select id="data-period-selection"
            class="form-control selectpicker"
            data-style="btn"
            name="period"
            autocomplete="off"
            data-sort="{{ period }}">
            <option value="a"
              class="period"
              selected>{% trans "Всё время" %}</option>
            <option value="h"
              class="period"
              {% if period == 'h' %}selected{% endif %}>{% trans "1 час" %}</option>
            <option value="d"
              class="period"
              {% if period == 'd' %}selected{% endif %}>{% trans "1 день" %}</option>
            <option value="w"
              class="period"
              {% if period == 'w' %}selected{% endif %}>{% trans "1 неделя" %}</option>
            <option value="m"
              class="period"
              {% if period == 'm' %}selected{% endif %}>{% trans "1 месяц" %}</option>
            <option value="y"
              class="period"
              {% if period == 'y' %}selected{% endif %}>{% trans "1 год" %}</option>
          </select>
        </label>
      </div>
      <div class="form-group col">
        <label class="datetimepicker-start control-label">{% trans "Начало периода" %}
          <div class='input-group datetimepicker'
            id="datetimepicker-start"
            {% if start is not None %}
            data-value="{{ start }}"
            {% endif %}
            data-td-target-input="nearest"
            data-td-target-toggle="nearest">
            <input data-td-target="#datetimepicker-start"
              type="text"
              name="start"
              autocomplete="off" />
            <span class="input-group-append"
              data-td-target="#datetimepicker-start"
              data-td-toggle="datetimepicker">
              <i class="input-group-text bi bi-calendar3"></i>
            </span>
          </div>
        </label>
      </div>
      <div class="form-group col">
        <label class="control-label">{% trans "Конец периода" %}
          <div class='input-group datetimepicker'
            id="datetimepicker-end"
            {% if end is not None %}
            data-value="{{ end }}"
            {% endif %}
            data-td-target-input="nearest"
            data-td-target-toggle="nearest">
            <input data-td-target="#datetimepicker-end"
              type="text"
              name="end"
              autocomplete="off" />
            <span class="input-group-append"
              data-td-target="#datetimepicker-end"
              data-td-toggle="datetimepicker">
              <i class="input-group-text bi bi-calendar3"></i>
            </span>
          </div>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col">
        <button type="submit"
          class="btn btn-big btn-blue">{% trans "Поиск" %}</button>
      </div>
    </div>
  </form>
</section>
<section class="block-table">
  <div class="container">
    <div class="wrapper">
      <table id="sats"
        class="table dataTable db-table clickable hover"
        role="grid">
        <thead>
          <th data-priority="1"
            data-visible="true"></th>
          <th data-priority="2"
            data-visible="{% if columns.Stat_sat_Norad != None %}{{ columns.Stat_sat_Norad }}{% else %}true{% endif %}">
            NORAD</th>
          <th data-priority="3"
            data-visible="{% if columns.Stat_sat_Name != None %}{{ columns.Stat_sat_Name }}{% else %}true{% endif %}">
            {% trans "Название" %}
          </th>
          <th data-priority="4"
            data-visible="{% if columns.Stat_sat_Data != None %}{{ columns.Stat_sat_Data }}{% else %}true{% endif %}">
            {% trans "Данные" %}</th>
          <th data-priority="5"
            data-visible="{% if columns.Stat_sat_Decoded != None %}{{ columns.Stat_sat_Decoded }}{% else %}false{% endif %}">
            {% trans "Декодированные" %}</th>
          <th data-priority="6"
            data-visible="{% if columns.Stat_sat_Latest != None %}{{ columns.Stat_sat_Latest }}{% else %}false{% endif %}">
            {% trans "Последние" %}</th>
          <th data-priority="7"
            class="padd-m"
            data-visible="{% if columns.Stat_sat_Obs_total != None %}{{ columns.Stat_sat_Obs_total }}{% else %}true{% endif %}">
            {% trans "Наблюдения (всего)" %}</th>
          <th data-priority="8"
            class="padd-m"
            data-visible="{% if columns.Stat_sat_Obs_success != None %}{{ columns.Stat_sat_Obs_success }}{% else %}true{% endif %}">
            {% trans "Успешные" %}</th>
          <th data-priority="9"
            class="padd-m"
            data-visible="{% if columns.Stat_sat_Obs_unk != None %}{{ columns.Stat_sat_Obs_unk }}{% else %}true{% endif %}">
            {% trans "Неизвестные" %}</th>
          <th data-priority="10"
            class="padd-m"
            data-visible="{% if columns.Stat_sat_Obs_bad != None %}{{ columns.Stat_sat_Obs_bad }}{% else %}true{% endif %}">
            {% trans "Плохие" %}</th>
          <th data-priority="11"
            class="padd-m"
            data-visible="{% if columns.Stat_sat_Obs_future != None %}{{ columns.Stat_sat_Obs_future }}{% else %}true{% endif %}">
            {% trans "Будущие" %}</th>
        </thead>
        <tbody>
          {% for satellite in satellites %}
          <tr class="clickable-row"
            data-href="{% url 'base:satellite_view' norad_id=satellite.norad_cat_id %}">
            <td class='details-control'>
              <a href="{% url 'base:satellite_view' norad_id=satellite.norad_cat_id %}">
                <i class="fa fa-plus-square"
                  aria-hidden="true"></i>
              </a>
            </td>
            <td>
              <a href="#"
                data-toggle="modal"
                data-target="#SatelliteModal"
                style="line-height: 0;"
                data-id="{{ satellite.norad_cat_id }}"
                data-sat-id="{{ satellite.sat_id }}">
                {{ satellite.norad_cat_id }}
              </a>
            </td>
            <td>
              {{ satellite.name }}
            </td>
            <td>
              {% if satellite.total_data == None %}
              0
              {% else %}
              {{ satellite.total_data }}
              {% endif %}
            </td>
            <td class="with-procent"
              data-full="{{ satellite.total_data }}">
              {% if satellite.decoded_data == None %}
              0
              {% else %}
              {{ satellite.decoded_data }}
              {% endif %}
            </td>
            <td>
              {% if satellite.latest_data == None %}
              -
              {% else %}
              <span class="datetime-date">{{ satellite.latest_data|date:"Y-m-d" }}</span><br>
              <span class="datetime-date">{{ satellite.latest_data|date:"H:i:s" }}</span>
              {% endif %}
            </td>
            <td>
              {% if satellite.tootal_obs == None %}
              0
              {% else %}
              {{ satellite.tootal_obs }}
              {% endif %}
            </td>
            <td class="with-procent"
              data-full="
                {% if satellite.tootal_obs == None %}
                  0
                {% else %}
                  {{ satellite.tootal_obs }}
                {% endif %}
              ">
              {% if satellite.success_obs == None %}
              0
              {% else %}
              {{ satellite.success_obs }}
              {% endif %}
            </td>
            <td class="with-procent"
              data-full="
                {% if satellite.tootal_obs == None %}
                  0
                {% else %}
                  {{ satellite.tootal_obs }}
                {% endif %}
              ">
              {% if satellite.unknown_obs == None %}
              0
              {% else %}
              {{ satellite.unknown_obs }}
              {% endif %}
            </td>
            <td class="with-procent"
              data-full="
                {% if satellite.tootal_obs == None %}
                  0
                {% else %}
                  {{ satellite.tootal_obs }}
                {% endif %}
              ">
              {% if satellite.bad_obs == None %}
              0
              {% else %}
              {{ satellite.bad_obs }}
              {% endif %}
            </td>
            <td class="with-procent"
              data-full="
                {% if satellite.tootal_obs == None %}
                  0
                {% else %}
                  {{ satellite.tootal_obs }}
                {% endif %}
              ">
              {% if satellite.future_obs == None %}
              0
              {% else %}
              {{ satellite.future_obs }}
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>
{% endblock content %}

{% block modal %}
<!-- Satellite Modal -->
{% include 'includes/satellite.html' %}
{% endblock modal %}

{% block javascript %}
<script src="{% static 'lib/moment/min/moment.min.js' %}"></script>
<script src="{% static 'lib/@popperjs/core/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'lib/@eonasdan/tempus-dominus/dist/js/tempus-dominus.min.js' %}"></script>
<script src="{% static 'lib/@eonasdan/tempus-dominus/dist/plugins/customDateFormat.js' %}"></script>
<script src="{% static 'lib/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'lib/admin-lte/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'lib/admin-lte/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'lib/admin-lte/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'lib/admin-lte/plugins/datatables-buttons/js/buttons.colVis.js' %}"></script>
<script src="{% static 'lib/admin-lte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'lib/admin-lte/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/statistics_sat.js' %}"></script>
<script src="{% static 'js/satellite_modal.js' %}"></script>
{% endblock %}
