{% extends "base.html" %}




{% block title %} - {% trans "Галерея" %} {{ satellite.name }}{% endblock %}

{% block css %}
<link rel="stylesheet"
  href="{% static 'lib/@fancyapps/ui/dist/fancybox/fancybox.css' %}">
<link rel="stylesheet"
  type="text/scss"
  href="{% static 'css/pages/gallery.scss' %}">
{% endblock css %}

{% block content %}
<section class="container block-h1">
  <div class="btn-back"><a href="{% url 'base:db_view' %}">{% trans "Назад" %}</a></div>
  <h1>{{ observations.0.satellite.name }}</h1>
</section>
<section>
  <div class="block-gallery">
    <div class="container">
      <div class="row">
        <label class="btn btn-outline-blue btn-sm"
          aria-expanded="true"
          aria-controls="{% trans 'Группировать' %}"
          data-toggle="tooltip"
          data-placement="bottom"
          title="{% trans 'Группировать изображения по наблюдениям' %}">
          <input class="status-filter"
            type="checkbox"
            name="unknown"
            autocomplete="off"
            checked>
          {% trans "Группировать изображения" %}
        </label>
      </div>
      <div class="row wrap">
        {% for obs in observations %}
        <div class="col image-card observation">
          <span class="badget badget-small badget-orange image-count">{{ obs.demoddata.all|length }}</span>
          <div class="images">
            {% for data in obs.demoddata.all %}
            <img src="{{ data.demodulated_data.url }}"
              loading="lazy"
              alt="{% trans 'Фотография со спутника' %}"
              class="data-img"
              data-fancybox="observation-gallery-{{ obs.id }}"
              data-timestamp="{{ data.timestamp|date:'Y-m-d H:m:s' }}"
              data-start="{{ obs.start|date:'Y-m-d H:m:s' }}"
              data-end="{{ obs.end|date:'Y-m-d H:m:s' }}"
              data-satellite="{{ obs.satellite.name }}"
              data-station="{{ obs.ground_station.id }} - {{ obs.ground_station.name }}"
              data-obs="{{ obs.id }}">
            {% endfor %}
          </div>
          <div class="title title-link">{{ obs.id }}</div>
          <div class="loading-spinner">
            <div class="spinner">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock content %}

{% block javascript %}
<script src="{% static 'lib/@fancyapps/ui/dist/fancybox/fancybox.umd.js' %}"></script>
<script src="{% static 'js/satellite_gallery.js' %}"></script>
{% endblock javascript %}
