{% extends "base.html" %}


{% block title %} - {% trans "Станции" %}{% endblock %}

{% block css %}
<link rel="stylesheet"
  href="{% static 'lib/bootstrap-select/dist/css/bootstrap-select.min.css' %}">
<link rel="stylesheet"
  type="text/scss"
  href="{% static 'css/pages/stations.scss' %}">
{% endblock css %}

{% block body-class %}class="stations"{% endblock %}

{% block content %}
<section class="container block-h1">
  <h1>{% trans "Станции" %}</h1>
</section>
<section class="tables-filtering container">
  <span class="row actions">
    <a class="btn btn-small btn-outline-gray"
      data-toggle="modal"
      data-target="#modalobservationsInfo"
      data-target-type="modal">
      <span class="bi bi-info-circle"></span>
    </a>
  </span>
  <form action=""
    id="stationsFilteringForm"
    class="tables-filtering__form">
    <div class="row">
      <div class="form-group col">
        <label>{% trans "Статус" %}
          <div class="checkbox-group">
            <label class="btn btn-blue btn-sm {% if online is False %}inactive{% endif %}"
              aria-expanded="true"
              aria-controls="online"
              data-toggle="tooltip"
              data-placement="bottom"
              title="{% trans 'В сети' %}">
              <input type="checkbox"
                name="online"
                value="0"
                {% if online is False %}checked{% endif %}
                autocomplete="off">
              <span class="bi bi-check"
                aria-hidden="true"></span>
            </label>
            <label class="btn btn-orange btn-sm {% if testing is False %}inactive{% endif %}"
              aria-expanded="true"
              aria-controls="testing"
              data-toggle="tooltip"
              data-placement="bottom"
              title="{% trans 'Тестируется' %}">
              <input type="checkbox"
                name="testing"
                value="0"
                {% if testing is False %}checked{% endif %}
                autocomplete="off">
              <span class="bi bi-question-circle"
                aria-hidden="true"></span>
            </label>
            <label class="btn btn-red btn-sm {% if offline is False %}inactive{% endif %}"
              aria-expanded="true"
              aria-controls="offline"
              data-toggle="tooltip"
              data-placement="bottom"
              title="{% trans 'Не в сети' %}">
              <input type="checkbox"
                name="offline"
                value="0"
                {% if offline is False %}checked{% endif %}
                autocomplete="off">
              <span class="bi bi-x"
                aria-hidden="true"></span>
            </label>
            <label class="btn btn-gray btn-sm {% if future is False %}inactive{% endif %}"
              aria-expanded="true"
              aria-controls="future"
              data-toggle="tooltip"
              data-placement="bottom"
              title="{% trans 'Никогда не была в сети' %}">
              <input type="checkbox"
                name="future"
                value="0"
                {% if future is False %}checked{% endif %}
                autocomplete="off">
              <span class="bi bi-clock"
                aria-hidden="true"></span>
            </label>
          </div>
        </label>
      </div>
      <div id="frequency-filter-formgroup"
        class="form-group col frequency-filter {% if freq_filter_errors %}has_error{% endif %}">
        <label>
          {% trans 'Частота' %}
          <div class="freq-input-container">
            <input name="freq"
              id="frequency-filter"
              min="0"
              type="number"
              step="1000"
              value="{{freq}}"
              class="frequency-filter-input w-100"
              autocomplete="off"
              placeholder="{% trans 'Гц' %}">
            <span id="freq-format"></span>
          </div>
        </label>
      </div>
      <div class="form-group col">
        <label>
          {% trans 'Станция' %}
          <select class="form-control selectpicker"
            data-style="btn"
            name="station"
            autocomplete="off"
            data-size="20"
            id="station-selection"
            data-live-search="true">
            <option value=""
              selected>{% trans "Все" %}</option>
            {% for station in stations_all %}
            <option data-station="{{ station.id }}"
              value="{{ station.id }}"
              {% if station.id == station_id %}selected{% endif %}>
              {{ station.id }} - {{ station.name }}
            </option>
            {% endfor %}
          </select>
        </label>
      </div>
      <div class="form-group col">
        <label>
          {% trans "Тип антенны" %}
          <select class="form-control selectpicker"
            data-style="btn"
            name="antenna"
            autocomplete="off"
            data-size="20"
            id="antenna-type"
            data-live-search="true">
            <option value=""
              selected>{% trans "Все" %}</option>
            {% for antenna in antennas_all %}
            <option data-antenna="{{ antenna.get_translated_name }}"
              value="{{ antenna.id }}"
              {% if antenna.id == antenna_id %}selected{% endif %}>
              {{ antenna.get_translated_name }}
            </option>
            {% endfor %}
          </select>
        </label>
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col">
        <button type="submit"
          class="btn btn-big btn-blue">{% trans "Поиск" %}</button>
      </div>
    </div>
  </form>
</section>
<section class="block-table">
  <div class="container">
    <div class="wrapper">
      <table id="stationsTable"
        class="table dataTable db-table clickable hover"
        role="grid">
        <thead>
          <th class="first-th">№</th>
          <th>{% trans "Название" %}</th>
          <th>{% trans "Координаты" %}</th>
          <th>{% trans "Наблюдения" %}</th>
          <th>{% trans "Будущие" %}</th>
          <th>{% trans "Антенны" %}</th>
          <th>{% trans "Владелец" %}</th>
        </thead>
        <tbody>
          {% for station in stations %}
          <tr class="clickable-row"
            data-href="{% url 'base:station_view' station_id=station.id %}">
            <td class="first-td">
              <a href="{% url 'base:station_view' station_id=station.id %}"
                class="obs-link">
                {% if station.last_seen %}
                {% if station.get_status_display|lower == "online" %}
                <span class="badget badget-big badget-blue">{{ station.id }}</span>
                {% elif station.get_status_display|lower == "offline" %}
                <span class="badget badget-big badget-red">{{ station.id }}</span>
                {% elif station.get_status_display|lower == "testing" %}
                <span class="badget badget-big badget-orange">{{ station.id }}</span>
                {% endif %}
                {% else %}
                <span class="badget  badget-big badget-gray">{{ station.id }}</span>
                {% endif %}
              </a>
            </td>
            <td>
              <div class="overlap-lines">
                {{ station.name }}
              </div>
            </td>
            <td>
              <span class="no-wrap"
                data-toggle="tooltip"
                data-placement="bottom"
                title="{{ station.lat|floatformat:-3 }}°, {{ station.lng|floatformat:-3 }}°">
                {% if station.has_location %}
                {% if station.qthlocator %}
                {{ station.qthlocator }}
                {% else %}
                {{ station.lat|floatformat:-1 }}°, {{ station.lng|floatformat:-1 }}°
                {% endif %}
                @{{ station.alt}}м
                {% else %}
                {% trans "Локация не определена" %}
                {% endif %}
              </span>
            </td>
            <td>
              <a href="{% url 'base:observations_list' %}?station={{ station.id }}"
                data-placement="bottom">
                {{ station.total_obs }}
              </a>
            </td>
            <td>
              <a
                href="{% url 'base:observations_list' %}?future=1&good=0&bad=0&unknown=0&failed=0&station={{ station.id }}">
                {{ station.future_obs }}
              </a>
            </td>
            <td class="antennas">
              {% for antenna in station.antennas.all %}
              <span class="antenna-pill no-wrap"
                data-toggle="tooltip"
                data-placement="bottom"
                title="{% for range in antenna.frequency_ranges.all %} {{ range.min_frequency|frq }} - {{ range.max_frequency|frq }}&#xA{% endfor %}">
                {{ antenna.antenna_type.get_translated_name }} ({{ antenna.bands}})
              </span>
              {% endfor %}
            </td>
            <td>
              {% if station.owner %}
              <div class="overlap-lines link">
                <a href="{% url 'users:view_user' username=station.owner.username %}"
                  data-toggle="tooltip"
                  title="{{ station.owner.displayname }}">
                  {{ station.owner.displayname }}
                </a>
              </div>
              {% else %}
              -
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>
{% endblock content %}

{% block modal %}
<!-- Satellite Modal -->
{% include 'includes/satellite.html' %}

<!-- Modal stationsInfo-->
<div class="modal fade"
  id="modalobservationsInfo"
  tabindex="-1"
  role="dialog"
  aria-hidden="true">
  <div class="modal-dialog modal-md"
    role="document">
    <div class="modal-content">
      <div class="modal-header align-items-center">
        <span class="bi bi-info-circle"></span>
        {% trans "Информация" %}
      </div>
      <div class="modal-body">
        <p>{% trans "Идентификационный номер каждой станции указан ниже и окрашен следующим образом:" %}</p>
        <ul class="badgets-info">
          <li><span class="badget badget-big badget-blue">10</span>{% trans "Станция активна" %}&nbsp;&mdash;
            {% trans "с неё можно получать данные" %}</li>
          <li><span
              class="badget badget-big badget-orange">20</span>{% trans "Станция в режиме тестирования" %}&nbsp;&mdash;
            {% trans "временно этой станцией может пользоваться только её владелец" %}</li>
          <li><span class="badget badget-big badget-red">30</span>{% trans "Станция неактивна" %}&nbsp;&mdash;
            {% trans "в данный момент наблюдения для этой станции недоступны" %}</li>
          <li><span class="badget badget-big badget-gray">40</span>{% trans "Будущая станция" %}&nbsp;&mdash;
            {% trans "совсем скоро она станет доступна для планирования наблюдений" %}</li>
        </ul>
      </div>
      <div class="modal-footer">
        <div class="btn btn-small btn-orange"
          data-dismiss="modal">{% trans "Скрыть" %}</div>
      </div>
    </div>
  </div>
</div>
<!-- / Modal stationsInfo -->
{% endblock modal %}

{% block javascript %}
<script src="{% static 'lib/admin-lte/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'lib/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'lib/admin-lte/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'lib/admin-lte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/satellite_modal.js' %}"></script>
<script src="{% static 'js/stations.js' %}"></script>
{% endblock %}