{% extends "base.html" %}

{% block title %}{% if station_form.instance.id %} - {% trans "Редактировать станцию" %}
{{ station_form.instance.name }}{% else %} -
{% trans "Добавить станцию" %}{% endif %}{% endblock %}

{% block css %}
<link href="{% static 'lib/bootstrap-select/dist/css/bootstrap-select.min.css' %}"
  rel="stylesheet">
<link href="{% static 'lib/bootstrap-fileinput/css/fileinput.min.css' %}"
  rel="stylesheet">
<link rel="stylesheet"
  type="text/scss"
  href="{% static 'css/pages/station_edit.scss' %}">
{% endblock css %}

{% block body-class %}class="station_edit"{% endblock %}

{% block content %}
<section class="container block-h1">
  <div class="btn-back"><a href="">{% trans "Назад" %}</a></div>
  {% if station_form.instance.id %}
  <h1 id="station"
    data-station-id="{{station_form.instance.id}}">
    {% trans "Редактирование" %}: {{ station_form.instance.id }}
  </h1>
  {% else %}
  <h1>{% trans "Добавить наземную станцию" %}</h1>
  {% endif %}
</section>
<section class="block-station-edit">
  <div class="container">
    <form id="station-edit-form"
      role="form"
      enctype="multipart/form-data"
      method="post">{% csrf_token %}
      <div class="accordion">
        <div class="card-header"
          data-toggle="collapse"
          data-target="#general-card-body">
          <div class="d-flex justify-content-between">
            <strong>
              {% trans "Основная информация" %}
            </strong>
            <i class="bi bi-arrows-expand"
              aria-hidden="true"></i>
          </div>
        </div>
        <div class="card-body collapse tables-filtering__form"
          id="general-card-body">
          <div class="form-group">
            <label>{% trans "Название" %}
              <div>
                <input value="{{ station_form.name.value|default_if_none:'' }}"
                  id="station-name"
                  type="text"
                  class="form-control w-100"
                  maxlength="{{ station_form.name.field.max_length }}"
                  name="name"
                  required>
              </div>
            </label>
          </div>
          <div class="form-group">
            <label>{% trans "Описание" %}
              <div>
                <textarea class="form-control w-100"
                  name="description"
                  id="description"
                  rows="3"
                  maxlength="{{ station_form.description.field.max_length }}">{{ station_form.description.value|default_if_none:"" }}</textarea>
              </div>
            </label>
          </div>
        </div>
        <div class="card-header"
          data-toggle="collapse"
          data-target="#location-card-body">
          <div class="d-flex justify-content-between">
            <strong>
              {% trans "Местоположение" %}
            </strong>
            <i class="bi bi-arrows-expand float-right"
              aria-hidden="true"></i>
          </div>
        </div>
        <div class="card-body collapse tables-filtering__form"
          id="location-card-body">
          <div class="row">
            <div class="form-group col">
              <label>{% trans "Широта" %}
                <div>
                  <input value="{{ station_form.lat.value|default_if_none:'' }}"
                    id="lat"
                    type="number"
                    class="form-control w-100"
                    name="lat"
                    step="0.000001"
                    max="{{ station_form.lat.field.max_value }}"
                    min="{{ station_form.lat.field.min_value }}"
                    placeholder="{{ station_form.lat.help_text }}"
                    required>
                </div>
              </label>
            </div>
            <div class="form-group col">
              <label>{% trans "Долгота" %}
                <div>
                  <input value="{{ station_form.lng.value|default_if_none:'' }}"
                    id="lng"
                    type="number"
                    class="form-control w-100"
                    name="lng"
                    step="0.000001"
                    max="{{ station_form.lng.field.max_value }}"
                    min="{{ station_form.lng.field.min_value }}"
                    placeholder="{{ station_form.lng.help_text }}"
                    required>
                </div>
              </label>
            </div>
            <div class="form-group col">
              <label>{% trans "Высота (н.у.м.)" %}
                <div>
                  <input value="{{ station_form.alt.value|default_if_none:'' }}"
                    id="alt"
                    type="number"
                    class="form-control w-100"
                    name="alt"
                    placeholder="{{ station_form.alt.help_text }}"
                    required>
                </div>
              </label>
            </div>
            <div class="form-group col">
              <label>{% trans "QTH локатор" %}
                <div>
                  <input class="form-control w-100"
                    id="qthlocator"
                    type="text"
                    name="qthlocator"
                    value="{{ station_form.qthlocator.value|default_if_none:'' }}"
                    readonly>
                </div>
              </label>
            </div>
          </div>
        </div>

        <div class="card-header"
          data-toggle="collapse"
          data-target="#antennas-card-body">
          <div class="d-flex justify-content-between">
            <strong>
              {% trans "Антенны" %}
            </strong>
            <i class="bi bi-arrows-expand float-right"
              aria-hidden="true"></i>
          </div>
        </div>
        <!-- Data to parse -->
        <div class="card-body collapse"
          id="antennas-card-body">
          <div class="row justify-content-around"
            id="antennas-card-group">
            <!-- Here antenna cards will be added -->
          </div>
          <div id="station-data-to-parse"
            data-max_antennas_per_station="{{ max_antennas_per_station }}"
            data-max_frequency_ranges_per_antenna="{{ max_frequency_ranges_per_antenna }}"
            data-max_frequency_for_range="{{ max_frequency_for_range }}"
            data-min_frequency_for_range="{{ min_frequency_for_range }}"
            data-vhf_min_frequency="{{ vhf_min_frequency }}"
            data-vhf_max_frequency="{{ vhf_max_frequency }}"
            data-uhf_min_frequency="{{ uhf_min_frequency }}"
            data-uhf_max_frequency="{{ uhf_max_frequency }}"
            data-l_min_frequency="{{ l_min_frequency }}"
            data-l_max_frequency="{{ l_max_frequency }}"
            data-s_min_frequency="{{ s_min_frequency }}"
            data-s_max_frequency="{{ s_max_frequency }}">
          </div>

          <!-- Initial data -->
          <div id="antennas-data-to-parse">
            {% for antenna_form in antenna_formset %}
            <div {% if antenna_form.id.value %}
              data-id="{{ antenna_form.id.value }}"
              {% endif %}
              {% if antenna_form.DELETE.value %}data-deleted="true"
              {% endif %}
              data-type-name="{{ antenna_form.instance.antenna_type.get_translated_name }}"
              data-type-id="{{ antenna_form.antenna_type.value }}">
              {% with frequency_range_formset=frequency_range_formsets|lookup_with_key:antenna_form.prefix %}
              {% for frequency_range_form in frequency_range_formset %}
              <div {% if frequency_range_form.id.value %}
                data-id="{{ frequency_range_form.id.value }} {% endif %}"
                {% if frequency_range_form.DELETE.value %}data-deleted="true"
                {% endif %}
                data-min="{{ frequency_range_form.min_frequency.value }}"
                data-max="{{ frequency_range_form.max_frequency.value }}"></div>
              {% endfor %}
              {% endwith %}
            </div>
            {% endfor %}
          </div>

          <div class="row justify-content-end"
            id="new-antenna">
            <button type="button"
              class="btn btn-sm btn-green"
              data-toggle="modal"
              data-target="#modal"
              data-action="new">
              <span class="bi bi-plus"
                aria-hidden="true"></span>
              {% trans "Новая антенна" %}
            </button>
          </div>
        </div>

        <div class="card-header"
          data-toggle="collapse"
          data-target="#settings-card-body">
          <div class="d-flex justify-content-between">
            <strong>{% trans "Настройки" %}</strong>
            <i class="bi bi-arrows-expand float-right"
              aria-hidden="true"></i>
          </div>
        </div>
        <div class="card-body collapse tables-filtering__form"
          id="settings-card-body">
          <div class="row">
            <div class="form-group col">
              <label>{% trans "Минимальный горизонт" %}
                <div class="input-group">
                  <input id="horizon"
                    type="number"
                    min="0"
                    value="{{ station_form.horizon.value|default_if_none:'' }}"
                    class="form-control w-100"
                    name="horizon"
                    placeholder="{{ station_form.horizon.help_text }}"
                    required>
                  <span class="bi bi-question-circle"
                    aria-hidden="true"
                    data-toggle="tooltip"
                    title="{% trans 'Минимальный горизонт для наблюдений на вашей станции' %}"></span>
                </div>
              </label>
            </div>
            <div class="form-group col">
              <label>{% trans "Допустимая нагрузка" %}
                <div class="input-group">
                  <input id="utilization"
                    type="number"
                    min="0"
                    max="100"
                    value="{{ station_form.target_utilization.value|default_if_none:'' }}"
                    class="form-control w-100"
                    name="target_utilization"
                    placeholder="{{ station_form.utilization.help_text }}">
                  <span class="bi bi-question-circle"
                    aria-hidden="true"
                    data-toggle="tooltip"
                    title="{% trans 'Допустимая нагрузка вашей станции (в процентах)' %}"></span>
                </div>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="form-group col">
              <label
                class="violator-label">{% translate 'Планировать наблюдения нарушителей использования частот могут' %}
                <select id="violator_scheduling"
                  class="form-control selectpicker"
                  name="violator_scheduling"
                  autocomplete="off">
                  {% for choice in station_form.violator_scheduling.field.choices %}
                  <option value="{{ choice.0 }}"
                    {% if choice.0 == station_form.violator_scheduling.value %}
                    selected
                    {% endif %}>{{ choice.1 }}</option>
                  {% endfor %}
                </select>
              </label>
              <div class="form-text">
                <div id='violator-scheduling-0'
                  class="violator-scheduling-option-description">
                  <strong>{% trans "Никто" %}</strong>
                  {% trans "не сможет планировать спутники, нарушающие частоты. В целях контроля и регистрации нарушений рассмотрите возможность изменения этого параметра на «Только операторы»." %}
                </div>
                <div id='violator-scheduling-1'
                  class="violator-scheduling-option-description">
                  <strong>{% trans "Только операторы" %}</strong>
                  {% trans "могут планировать спутники, нарушающие частоты. Будут запланированы только необходимые наблюдения для целей контроля и регистрации нарушений." %}
                </div>
                <div id='violator-scheduling-2'
                  class="violator-scheduling-option-description">
                  <strong>{% trans "Все" %}</strong>
                  {% trans "с разрешением на планирование смогут планировать спутники, которые нарушают частоты. Однако планирование будет ограничено использованием минимума ресурсов сети и базы данных." %}
                </div>
              </div>
            </div>
            <div class="form-group col test-mode">
              <label>
                {% trans "Тестовый режим" %}
                <div class="input-group btn btn-sm btn-outline-orange w-100">
                  <input type="checkbox"
                    name="testing"
                    {% if station_form.testing.value %}checked="True"
                    {% endif %}
                    {% if not station_form.instance.id %}disabled{% endif %}>
                  {% trans "Да" %}
                  <span class="bi bi-question-circle"
                    aria-hidden="true"
                    data-toggle="tooltip"
                    title="{% trans 'Прежде чем снимать флажок «Тестирование», убедитесь, что ваша станция работает нормально в течение определенного периода времени.' %}"></span>
                </div>
              </label>
            </div>
          </div>
        </div>
        <div class="card-header categories"
          data-toggle="collapse"
          data-target="#image-card-body">
          <div class="d-flex justify-content-between">
            <strong>{% trans "Изображение" %}</strong>
            <i class="bi bi-arrows-expand float-right"
              aria-hidden="true"></i>
          </div>
        </div>
        <div class="card-body tables-filtering__form"
          id="image-card-body">
          <div class="row">
            <div class="form-group col">
              <input id="station-image"
                type="file"
                name="image"
                accept="image/*"
                {% if station_form.image.value and not image_changed %}
                data-existing="{{ MEDIA_URL }}{{ station_form.image.value }}"
                {% endif %}>
            </div>
          </div>
        </div>
      </div>
      <div class='row btn-actions d-flex justify-content-between'>
        <button id="cancel"
          type="button"
          class="btn btn-small btn-orange"
          {% if station_form.instance.id %}data-back="station"
          {% endif %}>
          {% if station_form.instance.id %}{% trans "Назад к станции" %}{% else %}{% trans "Назад к моим станциям" %}{% endif %}
        </button>
        <button id="submit"
          type="submit"
          class="btn btn-small btn-blue"
          disabled="True">
          {% if station_form.instance.id %}{% trans "Сохранить изменения" %}{% else %}{% trans "Подтвердить" %}{% endif %}
        </button>
      </div>
    </form>
  </div>
</section>
{% endblock content %}

{% block modal %}
<!-- Edit/New Antenna Modal-->
{% include 'includes/antennas.html' %}
<!-- End of Edit/New Antenna Modal-->
{% endblock modal %}

{% block javascript %}
<script src="{% static 'lib/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'lib/bootstrap-fileinput/js/fileinput.min.js' %}"></script>
<script src="{% static 'js/gridsquare.js' %}"></script>
<script src="{% static 'js/frequency_utils.js' %}"></script>
<script src="{% static 'js/station_edit.js' %}"></script>
{% endblock javascript %}
