{% extends "base.html" %}


{% block title %}
- {% trans "Страница не найдена" %}
{% endblock title %}
{% block content %}
<section class="container block-h1">
  <div class="error-page container">
    <a href="{% url 'base:home' %} "
      class="href-with-arrow">{% trans "Главная страница" %}
      <img src="{% static 'img/arrow-right.svg' %}"
        alt=">"
        class="arrow-right">
    </a>
  </div>
</section>
{% endblock content %}