{% load cache %}
{% load compress %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Открытая сеть наземных станций. Опенсорс платформа для наблюдений за спутниками и космического образования">
  {% block meta %}
  {% endblock meta %}
  <title>{% trans "СОНИКС"%}
    {% block title %}
    {% endblock title %}
  </title>
  {% compress css %}
  <link rel="stylesheet"
    href="{% static 'lib/bootstrap-icons/font/bootstrap-icons.css' %}">
  <link rel="stylesheet"
    type="text/css"
    href="{% static 'css/google_fonts.css' %}">
  <link rel="stylesheet"
    type="text/css"
    href="{% static 'css/normalize.css' %}">
  <link rel="stylesheet"
    href="{% static 'css/micromodal.css' %}">
  <link rel="stylesheet"
    type="text/scss"
    href="{% static 'css/theme.scss' %}">
  <link rel="stylesheet"
    type="text/scss"
    href="{% static 'css/app.scss' %}">
  {% block css %}
  {% endblock css %}
  {% endcompress %}
  <link rel="icon"
    type="image/svg+xml"
    href="{% static 'favicon.ico' %}">
  <script type="text/javascript"
    src="{% static 'js/metrika.js'%}"></script>
</head>

<body {% block body-class %}{% endblock body-class %}>
  <script src="{% static 'js/darkmode-js.js' %}"></script>
  <script src="{% static 'js/dark.js' %}"></script>
  <script src="{% url 'javascript-catalog' %}"></script>
  {{ stage_notice }}
  {% block prenav-content %}
  {% endblock prenav-content %}
  <header class="darkmode-ignore">
    <div class="header container">
      <div class="header__logo">
        <a href="{% url 'base:home' %}">
          <div class="header__logo"></div>
        </a>
      </div>
      <nav id="headerNavbar"
        class="header__nav">
        <ul>
          <li {% if page == 'about' %}class="active"
            {% endif %}>
            <a href="{% url 'base:about' %}">{% trans "О проекте" %}</a>
          </li>
          <li>
            <a href="https://globus.sonik.space"
              target="_blank">{% trans "Глобус" %}</a>
          </li>
          <li
            class="dropdown  {% if page == 'observations' or page == 'stations' or page == 'satellites' or page == 'transmitters' or page == 'db' %}active{% endif %}">
            <a href="{% url 'base:db_view' %}">{% trans "База сети" %}</a>
            <ul class="submenu">
              <li>
                <a href="{% url 'base:observations_list' %}">{% trans "Наблюдения" %}</a>
              </li>
              <li>
                <a href="{% url 'base:stations_list' %}">{% trans "Станции" %}</a>
              </li>
              <li>
                <a href="{% url 'base:satellites_list' %}">{% trans "Спутники" %}</a>
              </li>
              <li>
                <a href="{% url 'base:transmitters_view' %}">{% trans "Передатчики" %}</a>
              </li>
              {% if request.user.is_superuser %}
              <hr>
              <li>
                <a href="{% url 'base:settings_site' %}">Настройки</a>
              </li>
              {% endif %}

            </ul>
          </li>
          <li {% if page == 'statistics' %}class="active"
            {% endif %}>
            <a href="{% url 'base:statistics' %}">{% trans "Статистика" %}</a>
          </li>
          <li>
            <a href="https://dashboard.sonik.space"
              target="_blank">{% trans "ЦУП" %}</a>
          </li>
          <li {% if page == 'spectrum' %}class="active"
            {% endif %}>
            <a href="{% url 'base:spectrum' %}">{% trans "Спектр" %}</a>
          </li>
          <li {% if page == 'launches' %}class="active"
            {% endif %}>
            <a href="{% url 'base:launches' %}">{% trans "Запуски" %}</a>
          </li>
          <li>
            <a href='{% url 'base:education' %}'>{% trans "Образование" %}</a>
          </li>
        </ul>
      </nav>
      <div class="options">
        <span class="options-text"><a href="https://sonik.space{{ request.path }}">RU</a> | <a
            href="https://en.sonik.space{{ request.path }}">EN</a></span>
        <span class="options-text"
          id="current_utc">--:-- UTC</span>
        {% if request.user.is_authenticated %}
        {% if owner_unknown_count %}
        <div class="unknown-obs">
          <a
            href="{% url 'base:observations_list' %}?observer={{ request.user.id }}&future=0&good=0&bad=0&failed=0&rated=rwu">
            <span class="bi bi-check2-square"
              aria-hidden="true"></span>
            <span class="badget badget-small top badget-orange">{{ owner_unknown_count }}</span>
          </a>
        </div>
        {% endif %}
        {{ account_block }}
        {% else %}
        {{ auth_block }}
        {% endif %}
        <button id="headerToggler"
          class="navbar-toggler collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#headerNavDropdown"
          aria-controls="headerNavDropdown"
          aria-expanded="false">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </div>
  </header>
  <main class="darkmode-ignore">
    <div id="alert-messages">
      {% if messages %}
      <div class="row">
        {% for notification in messages %}
        <div class="alert alert-{{ notification.tags }} alert-dismissible"
          role="alert">
          {{ notification.message|safe }}
          <button type="button"
            class="btn btm-sm btn-without-border-red"
            data-dismiss="alert"
            aria-label="{% trans 'Закрыть' %}">
            <span aria-hidden="true"
              class="bi bi-x"></span>
          </button>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    {% block content %}
    {% endblock content %}
  </main>
  {% block footer %}
  <footer class="darkmode-ignore">
    <div class="container">
      <div class="row">
        <div class="block-footer_mailing-form">
          <div class="description">
            {% trans "Оставайтесь с нами, все самое интересное" %}<br>
            {% trans "и актуальное о Сониксе." %}
          </div>
        </div>
        <div class="block-footer__navbar">
          <div class="block-footer__navbar-column">
            <div class="h5">{% trans "Меню" %}</div>
            <ul>
              <li>
                <a href="{% url 'base:about' %}">{% trans "О проекте" %}</a>
              </li>
              <li>
                <a href="https://globus.sonik.space">{% trans "Глобус" %}</a>
              </li>
              <li>
                <a href="{% url 'base:statistics' %}">{% trans "Статистика" %}</a>
              </li>
              <li>
                <a href="https://dashboard.sonik.space"
                  target="_blank">{% trans "ЦУП" %}</a>
              </li>
              <li>
                <a href="{% url 'base:spectrum' %}">{% trans "Спектр" %}</a>
              </li>
              <li>
                <a href='https://spacepi.space/wiki/set-shkolnyh-nazemnyh-stanczij/'
                  target="_blank">{% trans "Энциклопедия" %}</a>
              </li>
            </ul>
          </div>
          <div class="block-footer__navbar-column">
            <div class="h5">{% trans "База сети" %}</div>
            <ul>
              <li>
                <a href="{% url 'base:observations_list' %}">{% trans "Наблюдения" %}</a>
              </li>
              <li>
                <a href="{% url 'base:stations_list' %}">{% trans "Станции" %}</a>
              </li>
              <li>
                <a href="{% url 'base:satellites_list' %}">{% trans "Спутники" %}</a>
              </li>
              <li>
                <a href="{% url 'base:transmitters_view' %}">{% trans "Передатчики" %}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="block-footer__socials-btn">
          <a href="https://t.me/sonikspace"
            target="_blank"
            class="block-footer__socials-btn-item">
            <img src="{% static 'img/telegram.svg' %}"
              alt="Telegram">{% trans "Телеграм-канал"%}
          </a>
          <a href="https://t.me/sonikspace_chat"
            target="_blank"
            class="block-footer__socials-btn-item">
            <img src="{% static 'img/telegram.svg' %}"
              alt="Telegram">{% trans "Чат сообщества"%}
          </a>
          <a href="https://t.me/soniks_space_bot"
            target="_blank"
            class="block-footer__socials-btn-item">
            <img src="{% static 'img/telegram.svg' %}"
              alt="Telegram">{% trans "Чат-бот СОНИКС"%}
          </a>
          <a href="mailto:sonikspace@yandex.ru"
            target="_blank"
            class="block-footer__socials-btn-item">
            <img src="{% static 'img/mail.svg' %}"
              alt="Telegram">sonikspace@yandex.ru
          </a>
        </div>
      </div>
      <div class="row">
        <div class="block-footer__copyright">
          <div class="copyright-logo"></div>
          <span id="actual-year"></span>&nbsp;&copy;&nbsp;{% trans "Все права защищены" %}
        </div>
      </div>
      <div class="row">
        <div class="block-footer__copyright license">
          {% trans "Данные о спутниках, их передатчиках, TLE, а также данные принятые на станции сети SatNOGS"%}
          (<a href="https://satnogs.org/"
            target="_blank">satnogs.org</a>) {%trans "взяты с"%}
          <a href="https://db.satnogs.org/"
            target="_blank">db.satnogs.org</a>,<br> {%trans "которые также распространяются под лицензией"%}
          <a href="https://creativecommons.org/licenses/by-sa/4.0/"
            target="_blank">Creative&nbsp;Commons&nbsp;Atribution-Share&nbsp;Alike&nbsp;v4.0</a><br>
          {% trans "Все данные из базы открыты для всех и распространяются под"%}
          <a href="https://creativecommons.org/licenses/by-sa/4.0/"
            target="_blank">Creative Commons Atribution-Share Alike v4.0</a>&nbsp;{% trans "лицензией."%}
        </div>
      </div>
    </div>
  </footer>
  {% endblock footer %}
  <script src="{% url 'javascript-catalog' %}"></script>
  {% compress js %}
  <script src="{% static 'lib/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'lib/jquery-ui/dist/jquery-ui.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'lib/micromodal/dist/micromodal.min.js' %}"></script>
  <script src="{% static 'js/scripts.js' %}"></script>
  <script src="{% static 'js/current_utc.js' %}"></script>
  <script src="{% static 'js/app.js' %}"></script>
  {% block javascript %}
  {% endblock javascript %}
  {% endcompress %}
</body>
{% block modal %}
{% endblock modal %}

</html>
