{% extends "admin/change_form.html" %}

{% block object-tools-items %}
<li>
  <a href="{% url 'admin:decode_all_data' sat_id=original.sat_id %}"
    class="decodedatalink">{% trans "Расшифровать все данные спутника" %}</a>
</li>
<li>
  <a href="{% url 'admin:decode_all_nondecoded_data' sat_id=original.sat_id %}"
    class="decodedatalink">{% trans "Расшифровать все нерасшифрованные данные спутника" %}</a>
</li>
{{ block.super }}
{% endblock object-tools-items %}
