{% extends "rest_framework/base.html" %}

{% block title %}{% trans "СОНИКС Сеть API" %}{% endblock %}

{% block branding %}
<a class="navbar-brand"
  rel="nofollow"
  href="#">
  {% trans "СОНИКС Сеть API" %} <span class="version">1</span>
</a>
{% endblock %}
