{% extends "account/base.html" %}

{% load account %}

{% block head_title %} - {% trans "Подтверждение почты" %}{% endblock %}

{% block content %}
<section class="container block-h1">
  <h1>{% trans "Подтвердить почту" %}</h1>
</section>
<section class="container auth-block">
  <div class="row">
    <div class="col-5">
      {% if confirmation %}
      {% user_display confirmation.email_address.user as user_display %}
      <div class="description">
        {% trans "Пожалуйста, подтвердите почту для пользователя" %} {{ user_display }}.
      </div>
      <form method="post"
        action="{% url 'account_confirm_email' confirmation.key %}">
        {% csrf_token %}
        <button class="btn btn-big btn-orange"
          type="submit">{% trans "Подтвердить" %}</button>
      </form>
      {% else %}
      {% url 'account_email' as email_url %}
      <div class="description">
        {% trans "Срок действия ссылки для подтверждения адреса электронной почты истёк." %}<br>
        {% trans "Пожалуйста" %}, <a
          href="{{ email_url }}">{% trans "отправьте новый запрос на верификацию e-mail адреса" %}</a>.
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}
