{% extends "account/base.html" %}

{% load account %}

{% block head_title %} - {% trans "Подтверждение почты" %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-5">
    <h2>{% trans "Подтвердите почту" %}</h2>
    {% user_display email_address.user as user_display %}
    <p>
      {% trans "Вы подтвердили, что почта" %} <a href="mailto:{{ email }}">{{ email }}</a>
      {% trans "принадлежит пользователю" %} {{ user_display }}.
    </p>
  </div>
</div>
{% endblock %}
