{% extends "account/base.html" %}
{% load account %}

{% block head_title %} - {% trans "Вход" %}{% endblock %}

{% block content %}
<section class="container block-h1">
  <div class="btn-back"><a href="{% url 'base:home' %}">{% trans "Назад" %}</a></div>
  <h1>{% trans "Вход" %}</h1>
</section>
<section class="container auth-block">
  <form class="authorization-form"
    method="POST"
    action="{% url 'account_login' %}">{% csrf_token %}
    <div class="row">
      <div class="form-group col">
        <label>{% trans "Имя пользователя" %}
          <div>
            {{ form.login }}
          </div>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="form-group col">
        <label>{% trans "Пароль" %}
          <div>
            {{ form.password }}
          </div>
        </label>
      </div>
    </div>
    {% if redirect_field_value %}
    <input type="hidden"
      name="{{ redirect_field_name }}"
      value="{{ redirect_field_value }}" />
    {% endif %}
    <div class="row">
      <button class="btn btn-small btn-orange"
        type="submit">{% trans "Войти" %}</button>
    </div>
    <div class="bottom-details">
      <a href="{% url 'account_reset_password' %}">{% trans "Забыли пароль?" %}</a> |
      <a href="{% url 'account_signup' %}">{% trans "Зарегистрироваться" %}</a>
    </div>
  </form>
</section>
{% endblock %}
