{% extends "account/base.html" %}

{% block head_title %} - {% trans "Выход" %}{% endblock %}

{% block css %}
<link rel="stylesheet"
  type="text/scss"
  href="{% static 'css/pages/account.scss' %}">
{% endblock css %}

{% block content %}
<section class="container block-h1">
  <div class="btn-back"><a href="{% url 'base:home' %}">{% trans "Назад" %}</a></div>
  <h1>{% trans "Выход" %}</h1>
  <div class="row subtitle">
    {% trans "Вы уверены, что хотите выйти?" %}
  </div>
</section>
<section class="container auth-block">
  <form method="post"
    action="{% url 'account_logout' %}">{% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden"
      name="{{ redirect_field_name }}"
      value="{{ redirect_field_value }}">
    {% endif %}
    <button class="btn btn-small btn-orange"
      type="submit">{% trans "Выйти" %}</button>
  </form>
</section>
{% endblock %}
