{% extends "account/base.html" %}

{% load crispy_forms_tags %}

{% block head_title %} - {% trans "Сменить пароль" %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-5">
    <h2>{% if token_fail %}{% trans "Плохой токен" %}{% else %}{% trans "Сменить пароль" %}{% endif %}</h2>

    {% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <p>
      {% trans "Ссылка на смену пароля недействительна, потому что уже была использована." %}
      {% trans "Пожалуйста запросите" %}<a href="{{ passwd_reset_url }}">{% trans "новую смену пароля" %}</a>.
    </p>
    {% else %}
    {% if form %}
    <form method="POST"
      action="./">{% csrf_token %}
      {{ form|crispy }}
      <button type="submit"
        class="btn btn-primary"
        name="action">{% trans "Сохранить" %}</button>
    </form>
    {% else %}
    <p>{% trans "Ваш пароль изменён." %}</p>
    {% endif %}
    {% endif %}
  </div>
</div>
{% endblock %}
