{% extends "account/base.html" %}

{% load account %}

{% block head_title %} - {% trans "Сброс пароля" %}{% endblock %}

{% block content %}
<section class="container block-h1">
  <h1>{% trans "Сбросить пароль" %}</h1>
</section>
<section class="container auth-block">
  <div class="row">
    <div class="col-12">
      {% if user.is_authenticated %}
      {% include "account/snippets/already_logged_in.html" %}
      {% endif %}
      <div class="description">
        {% trans "Письмо для сброса пароля успешно отправлено на ваш e-mail!" %}<br>{% trans "Пожалуйста, проверьте свою почту." %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
