{% extends "account/base.html" %}

{% load crispy_forms_tags %}

{% block head_title %} {% translate "- Установить пароль" %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-5">
    <h2>{% translate "Установить пароль" %}</h2>
    <form method="POST"
      action="./"
      class="password_set">{% csrf_token %}
      {{ form|crispy }}
      <input type="submit"
        name="action"
        value="Set Password" />
    </form>
  </div>
</div>
{% endblock %}
