{% extends "account/base.html" %}

{% block head_title %} - {% trans "Изменить пароль" %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-5">
    <h2>{% trans "Изменить пароль" %}</h2>
    <p>{% trans "Ваш пароль изменен." %}</p>
  </div>
</div>
{% endblock %}
