{% extends "account/base.html" %}

{% load crispy_forms_tags %}

{% block head_title %} - {% trans "Изменить пароль" %}{% endblock %}

{% block content %}
<section class="container block-h1">
  <h1>{% trans "Изменить пароль" %}</h1>
</section>
<section class="container auth-block">
  <div class="row">
    <div class="col-md-5">

      <form method="POST"
        action="./"
        class="password_change">{% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-blue"
          type="submit"
          name="action">{% trans "Изменить пароль" %}</button>
      </form>
    </div>
  </div>
</section>
{% endblock %}
