{% extends "account/base.html" %}

{% block head_title %} - Verify Your E-mail Address{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-5">
    <h2>Verify Your E-mail Address</h2>
    {% url 'account_email' as email_url %}

    <p>
      This part of the site requires us to verify that
      you are who you claim to be. For this purpose, we require that you
      verify ownership of your e-mail address.
    </p>

    <p>
      We have sent an e-mail to you for
      verification. Please click on the link inside this e-mail.
      Please <a href="mailto:info@satnogs.org?subject=No verification email sent">contact us</a> if you do not receive
      it within a few minutes.
    </p>

    <p>
      <strong>Note:</strong> you can still
      <a href="{{ email_url }}">change your e-mail address</a>.
    </p>
  </div>
</div>
{% endblock %}