@import 'variables.scss';

/////////////////////////////////////////////////////////////// Body //////////////////////////////////////////////////////////////

body {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    background-color: $dark-400;
    color: $gray;

    &.navbar-show {
        overflow: hidden;

        &::after {
            z-index: 997;
            opacity: .9;
            height: 100vh;
        }
    }
}

////////////////////////////////////////////////////////////// Header /////////////////////////////////////////////////////////////

header {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    transition: all $animation-time;

    @media (max-width: 767px) {
        background-color: #0c0909;
    }

    .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (min-width: 768px) {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        @media (max-width: 767px) {
            padding-top: 7px;
            padding-bottom: 7px;
            border-bottom: 1px solid $dark-300;
        }

        .header__logo {
            width: 85px;
            height: 40px;
            transition: all .2s;
            background-image: url('/static/img/logo.png');
            background-size: contain;
            background-repeat: no-repeat;

            @media (max-width: 767px) {
                width: 70px;
                height: 30px;
            }
        }

        // navbar

        .header__nav {
            flex-basis: 800px;
            align-self: stretch;
            display: flex;
            align-items: stretch;

            @media (max-width: 991px) {
                display: block;
                position: absolute;
                top: -999999px;
                left: -999999px;
                opacity: 0;
                transition: opacity $animation-time;
            }

            > ul {
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: space-around;
                flex-grow: 1;

                > li {
                    display: flex;
                    align-items: center;

                    &.active {
                        @media (min-width: 992px) {
                            position: relative;

                            &::before {
                                content: '';
                                width: 100%;
                                height: 3px;
                                border-bottom-right-radius: 7px;
                                border-bottom-left-radius: 7px;
                                background-color: $orange-400;
                                position: absolute;
                                top: -10px;
                            }
                        }

                        a {
                            color: $orange-400;
                        }
                    }

                    &.dropdown {

                        @media (min-width: 992px) {

                            &::after {
                                margin-left: 0.255em;
                                content: '';
                                background-image: url('/static/img/arrow-down.svg');
                                width: 20px;
                                height: 12px;
                                background-size: 100%;
                                background-position: center;
                            }
                        }
                    }

                    &:hover {
                        cursor: pointer;

                        .submenu {
                            display: block;
                        }
                    }

                    .submenu {
                        position: absolute;
                        list-style: none;
                        display: none;
                        padding: 0 10px 12px;
                        top: 40px;
                        background-color: $gray-300;
                        border-bottom-left-radius: 10px;
                        border-bottom-right-radius: 10px;
                        box-shadow: 2px -3px 46px -6px rgba(0, 0, 0, 0.37);

                        &:before {
                            content: '';
                            width: 10px;
                            height: 10px;
                            background-color: $gray-300;
                            position: absolute;
                            top: -5px;
                            left: 2px;
                            transform: rotate(45deg);
                        }

                        li {
                            padding-top: 12px;

                            a {
                                display: block;
                                width: 100%;
                                transition: all $animation-time;
                            }

                            &.active {

                                a {
                                    font-weight: 600;
                                }
                            }
                        }
                    }

                    &, a, span {
                        position: relative;
                    }
                }
            }

            &.show {
                width: 100%;
                opacity: 1;
                left: 0;
                top: 45px;
                padding: 24px 0;
                background-color: $dark-400;

                > ul {
                    display: block;
                    padding: 0 20px;

                    > li {
                        margin-bottom: 14px;

                        &:hover > a {
                            opacity: .7;
                            color: $blue-400;
                        }

                        &.dropdown {
                            display: block;

                            .submenu {
                                display: block;
                                position: relative;
                                top: 0;
                                left: 0;
                                padding: 10px;
                                border-bottom-left-radius: 0;
                                border-bottom-right-radius: 0;
                                margin-top: 10px;

                                &::before {
                                    display: none;
                                }

                                li {
                                    padding: 0;

                                    &:not(:first-of-type) {
                                        margin-top: 10px;
                                    }

                                    a {
                                        color: $orange-400;

                                        &:hover {
                                            opacity: .7;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                @media (min-width: 768px) and (max-width: 991px) {
                    top: 0;
                }
            }
        }

        .options {
            display: flex;
            align-items: center;
            z-index: 10;
            gap: 10px;

            .options-text {
                color: $dark-200;
                white-space: nowrap;

                a {
                    color: unset;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .unknown-obs {

                a {
                    white-space: nowrap;
                }
            }

            // auth icon

            .auth-btn {
                display: flex;
                cursor: pointer;
                text-decoration: none;
                transition: all $animation-time;

                &.active {
                    filter: hue-rotate(160deg);
                    cursor: default;
                }

                img {
                    width: 20px;

                    &:hover {
                        filter: hue-rotate(160deg);
                    }

                    &.logout {

                        &:hover {
                            filter: none;
                        }
                    }
                }

                @media (max-width: 991px) {
                    margin-left: auto;
                    margin-right: 12px;
                }

                @media (max-width: 575px) {
                    margin-right: 0;
                }
            }

            // navbar toggler (on mobile)

            .navbar-toggler {
                @media (min-width: 992px) {
                    display: none;
                }

                background-color: transparent;
                padding: 0;
                position: relative;
                -webkit-transition: all 0.4s;
                transition: all 0.4s;
                border: 0;
                outline: 0;
                -webkit-box-shadow: none !important;
                box-shadow: none !important;

                &:focus,
                header &:active {
                    outline: 0;
                }

                &:hover {
                    cursor: pointer;
                }

                &:not(.collapsed) {

                    span {
                        margin-top: 3px;

                        &:nth-child(1) {
                            position: absolute;
                            left: 2px;
                            top: 6px;
                            -webkit-transform: rotate(135deg);
                            transform: rotate(135deg);
                            width: 15px;
                        }

                        &:nth-child(2) {
                            height: 12px;
                            visibility: hidden;
                        }

                        &:nth-child(3) {
                            position: absolute;
                            left: 2px;
                            top: 6px;
                            -webkit-transform: rotate(-135deg);
                            transform: rotate(-135deg);
                            width: 15px;
                        }
                    }
                }

                span {
                    display: block;
                    background-color: $white;
                    height: 2px;
                    width: 15px;
                    -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
                    position: relative;
                    left: 0;
                    opacity: 1;

                    &:nth-child(1),
                    &:nth-child(3) {
                        -webkit-transition: -webkit-transform .35s ease-in-out;
                        transition: -webkit-transform .35s ease-in-out;
                        transition: transform .35s ease-in-out;
                        transition: transform .35s ease-in-out, -webkit-transform .35s ease-in-out;
                    }

                    &:nth-child(2) {
                        width: 15px;
                        left: 0;
                        margin: 4px 0;
                    }
                }
            }
        }
    }

    &.header-sticky {
        background-color: $dark-600;

        .header {

            .header__logo {
                height: 35px;
            }

            .header__nav > ul > li .submenu {
                top: 35px;
            }
        }
    }
}

///////////////////////////////////////////////////////////////// Main /////////////////////////////////////////////////////////////////

main {
    @media (min-width: 768px) {
        min-height: 40vh;
    }

    .error-page {
        background-image: url('/static/img/404.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;
        width: 100%;
        min-height: 60vh;

        @media (max-width: 575px) {
            min-height: 30vh;
        }
    }
}

///////////////////////////////////////////////////////////////// Footer ///////////////////////////////////////////////////////////////

footer {
    margin-top: 110px;
    padding: 50px 0;
    position: relative;
    background-color: $dark-900;
    overflow: hidden;

    @media (max-width: 991px) {
        margin-top: 75px;
    }

    &::before {
        opacity: 1;
        z-index: 1;
        position: absolute;
        right: -220px;
        top: 0;
        content: '';
        width: 100%;
        height: 923px;
        background-image: url('/static/img/footer.png');
        background-position: right 20px;
        background-size: 750px;
        background-repeat: no-repeat;

        @media (max-width: 991px) {
            right: 0;
        }
    }

    .container {
        position: relative;
        z-index: 1;

        .block-footer_mailing-form {

            .description {
                text-transform: uppercase;
                font-weight: 600;
                line-height: 27px;
            }
        }

        .block-footer__navbar {
            display: flex;
            align-items: start;
            justify-content: space-evenly;
            flex-grow: 3;
            padding-right: 220px;

            &-column {

                .h5 {
                    text-transform: uppercase;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 27px;
                }

                ul {
                    padding: 0;
                    margin: 0;
                    list-style: none;

                    li {

                        &:not(:first-child) {
                            margin-top: 5px;
                        }

                        &.active {

                            a {
                                font-weight: 800;
                            }
                        }
                    }
                }
            }
        }
    }

    .block-footer__socials-btn {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-top: 16px;
        position: absolute;
        top: 50px;

        &-item {
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 14px;
                margin-right: 4px;
            }

            &:first-child {
                margin-right: 12px;
            }

            &:hover {

                img {
                    filter: hue-rotate(160deg);
                }
            }
        }
    }

    .block-footer__copyright {
        display: flex;
        align-items: center;
        color: $dark-100;
        font-size: 12px;
        margin-top: 40px;
        line-height: 14px;

        &.license {
            display: block;
            margin-top: 20px;
        }

        .copyright-logo {
            width: 48px;
            height: 27px;
            transition: all .2s;
            background-image: url('/static/img/footer-logo.png');
            background-size: contain;
            background-repeat: no-repeat;
            margin-top: 2px;
            margin-right: 5px;
            filter: grayscale(100%);
        }
    }

    @media (min-width: 992px) and (max-width: 1299px) {
        margin-top: 70px;

        &::before {
            right: -450px;
        }

        .container {

            .block-footer__navbar {
                padding-right: 100px;
            }
        }
    }

    @media (max-width: 991px) {

        .container {

            .footer__logo-wrapper {
                margin-bottom: 50px;
            }

            .block-footer__navbar {
                margin-top: 20px;
                padding: 0;
                justify-content: start;
                gap: 100px;
            }

            .block-footer__socials-btn,
            .block-footer__copyright {
                position: unset;
                margin-top: 25px;
            }
        }
    }

    @media (min-width: 768px) and (max-width: 991px) {

        &::before {
            height: 600px;
            bottom: -80px;
            right: 0;
            top: auto;
            background-position: 400px top;
        }
    }

    @media (max-width: 767px) {
        padding-bottom: 500px;

        &::before {
            display: block;
            position: absolute;
            width: 100%;
            height: 700px;
            bottom: -250px;
            right: -10vw;
            top: auto;
            background-position: top left;
            background-size: cover;
        }

        .container {

            .block-footer_mailing-form {
                width: 100%;
                margin-right: 0;

                input {
                    width: calc(100% - 57px);
                }

                button {
                    width: 57px;

                    img {
                        width: 56px;
                    }
                }
            }
        }
    }
}

///////////////////////////////////////////////////////////////// Light Theme //////////////////////////////////////////////////////////

.darkmode--activated {
    color: $dark-300;

    &::after {
        background-color: $dark-200;
    }

    ///////////////////////////////////////////////////////////// Header Light /////////////////////////////////////////////////////////

    header {

        &.header-sticky {
            background-color: $white;
        }

        .header {
            border-color: $dark-100;

            .header__logo {
                background-image: url('/static/img/logo-theme-white.png');
            }

            .header__nav {

                &.show {
                    background-color: $dark-50;
                }

                > ul > li .submenu {
                    background-color: $white;

                    &:before {
                        background-color: $white;
                    }
                }
            }

            .options {

                > .auth-btn {

                    &:hover {
                        filter: hue-rotate(160deg);
                    }
                }

                > .navbar-toggler span {
                    background-color: $dark-200;
                }
            }
        }

        @media (max-width: 767px) {
            background-color: $white;
        }
    }

    ///////////////////////////////////////////////////////////// Main Light ///////////////////////////////////////////////////////////

    h1, .h1, h2, .h2 {
        color: $gray-200;
    }

    ///////////////////////////////////////////////////////////// Footer Light /////////////////////////////////////////////////////////

    footer {
        background-color: $gray-400;

        &::before {
            background-image: url('/static/img/footer-theme-white.png');
        }

        .footer__logo {
            background-image: url('/static/img/footer-logo-theme-white.png');
        }

        .block-footer_mailing-form .description {
            color: $gray-200;
        }

        .block-footer__navbar-column {

            .h5 {
                color: $gray-200;
            }
        }

        .block-footer__copyright {
            color: $dark-300;

            .copyright-logo {
                background-image: url('/static/img/footer-logo-theme-white.png');
            }
        }
    }
}
