// Theme colors
$white: #ffffff;

$gray: #b8b8b8;
$gray-50: #d7d7d7;
$gray-100: #ebebeb;
$gray-150: #4f4f4f;
$gray-200: #353535;
$gray-300: #232323;
$gray-350: #191919;
$gray-400: #d5d5d5;

$orange-900: #2f1c03;
$orange-800: #7a2201;
$orange-700: #a22d01;
$orange-600: #cb3801;
$orange-500: #f44301;
$orange-400: #fe5e22;
$orange-300: #fe7f50;
$orange-200: #feb085;
$orange-100: #ffd1b8;

$blue-900: #002e4d;
$blue-800: #004f85;
$blue-700: #0061a3;
$blue-600: #0073c2;
$blue-500: #0085e0;
$blue-400: #0097ff;
$blue-300: #38aeff;
$blue-200: #70c5ff;
$blue-100: #a8dcff;
$blue-50: #ebf7ff;

$dark-900: #070707;
$dark-850: #1d1c1c;
$dark-800: #080305;
$dark-700: #0a0506;
$dark-600: #0c0909;
$dark-500: #0f0d0d;
$dark-400: #121212;
$dark-350: #191818;
$dark-300: #4a4a4a;
$dark-200: #828282;
$dark-100: #bababa;
$dark-70: #e8e8e8;
$dark-50: #fafafa;

$green-500: #02220b;
$green-400: #0d6826;
$green-300: #147a30;
$green-200: #95ffb2;
$green-100: #dde8e0;

$red-500: #330b0b;
$red-400: #ec0c0c;
$red-300: #e23d3d;
$red-200: #ffb4b4;
$red-100: #ffe0e0;

// Global animation time
$animation-time: 0.3s;
$animation-time-high: 0.1s;

////////////////////////////////////////////////////////////// Json Viewer /////////////////////////////////////////////////////////////

json-viewer {
    --background-color: #232323;
    --property-color: #1489d9;
    --string-color: #3e953b;
    --number-color: #df5f2e;
    --null-color: #b8b8b8;
}

.darkmode--activated {

    json-viewer {
        --background-color: #d7d7d7;
        --null-color: #828282;
        --preview-color: rgba(145, 102, 73, 0.9);
        --indentguide-color: #bababa;
        --indentguide-color-active: #828282;
    }
}
