{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block title %}
- {% trans "Настройки" }
{% endblock title %}
{% block content %}
<h2>
  {% block header %}
  User: {{ user.username }}
  {% endblock header %}
</h2>
<div class="row">
  <div class="col-md-5">
    <form method="post"
      action="{% url 'users:update_user' %}">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="control-group">
        <div class="controls">
          <button type="submit"
            class="btn btn-sm btn-primary">{% trans "Обновить" %}</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-10">
    <a href="{% url 'account_change_password' %}">{% trans "Нажмите сюда, чтобы обновить свой пароль" %}</a>
  </div>
</div>
{% endblock content %}
