{% load tags %}

<div class="modal fade"
  id="modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="AntennaModalTitle">
  <div class="modal-dialog modal-md"
    role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title"
          id="AntennaModalTitle">
        </div>
      </div>
      <div class="modal-body tables-filtering__form">
        <div class='row'>
          <div class="form-group col">
            <label>{% trans "Тип" %}
              <div>
                <select id="antenna-type"
                  class="form-control selectpicker"
                  data-live-search="true"
                  name="antenna-type">
                  {% for antenna_type in antenna_types.all|sort_types %}
                  <option value="{{ antenna_type.id }}"
                    data-content="{{ antenna_type.get_translated_name }}">
                    {% endfor %}
                </select>
              </div>
            </label>
          </div>
        </div>
        <div class="frequency-ranges">
          <strong>{% trans "Частотные диапазоны (Гц)" %}</strong>
          <div id="frequency-ranges-loading"
            class="loading-field">
            <div class="spinner">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
            {% trans "Загрузка частотных диапазонов" %}
          </div>
          <div id="frequency-ranges">
            {% trans "Добавьте диапазон частот, выбрав один из диапазонов по умолчанию или собственный диапазон ниже." %}
          </div>
          <div class='row no-gutters justify-content-between align-items-end'
            id="new-ranges">
            <div class="col default-ranges">
              <div class='default-range-label'>{% trans "Диапазон по умолчанию:" %}</div>
              <button data-range="VHF"
                type="button"
                class="btn btn-sm btn-outline-gray new-range">
                <span class="bi bi-plus"
                  aria-hidden="true"></span>
                VHF
              </button>
              <button data-range="UHF"
                type="button"
                class="btn btn-sm btn-outline-gray new-range">
                <span class="bi bi-plus"
                  aria-hidden="true"></span>
                UHF
              </button>
              <button data-range="L"
                type="button"
                class="btn btn-sm btn-outline-gray new-range">
                <span class="bi bi-plus"
                  aria-hidden="true"></span>
                L
              </button>
              <button data-range="S"
                type="button"
                class="btn btn-sm btn-outline-gray new-range">
                <span class="bi bi-plus"
                  aria-hidden="true"></span>
                S
              </button>
            </div>
            <div class="col new-custom-range">
              <button data-range="custom"
                type="button"
                id="new-range"
                class="btn btn-sm btn-green new-range">
                <span class="bi bi-plus"
                  aria-hidden="true"></span>
                {% trans "Собственный диапазон" %}
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class='col'>
          <button id="delete-antenna"
            data-action="delete"
            type="button"
            class="btn btn-small btn-red modal-action">{% trans "Удалить антенну" %}</button>
        </div>
        <div class='col close-btns'>
          <button type="button"
            class="btn btn-small btn-gray"
            data-dismiss="modal">{% trans "Закрыть" %}</button>
          <button data-action="save"
            type="button"
            class="btn btn-small btn-blue modal-action">{% trans "Сохранить изменения" %}</button>
        </div>
      </div>
    </div>
  </div>
</div>
