<div class="modal fade"
    id="DemoddataJsonModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="DemoddataJsomModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-md"
        role="document">
        <div class="modal-content">
            <div class="modal-header align-items-center">
                {% trans "Декодированный пакет" %}
                <div class="btn btn-small btn-without-border-red"
                    data-dismiss="modal"><span class="bi bi-x"></span></div>
            </div>
            <div id="modalDecoder-content"
                class="modal-body">
            </div>
            <div class="modal-footer">
                <div class="btn btn-small btn-orange"
                    data-dismiss="modal">{% trans "Закрыть" %}</div>
            </div>
        </div>
    </div>
</div>