<div class="row justify-content-between">
    {% if network_schedule  %}
    <div class="col-md-8 pl-0">
        <input type="radio"
            id="active-status"
            class="btn-check"
            name="status"
            value="active"
            {% if network_schedule.active  %}
            checked
            {% endif %} />
        <label class="btn btn-outline-success"
            for="active-status">Планируется</label>
        <input type="radio"
            id="inactive-status"
            class="btn-check"
            name="status"
            value="inactive"
            {% if not network_schedule.active  %}checked{% endif %} />
        <label class="btn btn-outline-danger"
            for="inactive-status">Не планируется</label>
    </div>
    {% else %}
    <div class="col-md-8 pl-0">
        <input type="radio"
            id="active-status"
            class="btn-check"
            name="status"
            value="active"
            disabled />
        <label class="btn btn-outline-success"
            for="active-status">Планируется</label>
        <input type="radio"
            id="inactive-status"
            class="btn-check"
            name="status"
            value="inactive"
            disabled />
        <label class="btn btn-outline-danger"
            for="inactive-status">Не планируется</label>
    </div>
    {% endif %}
</div>
<div class="row my-2 block-select">
    <div class="col-lg-4 pr-2">
        <label for="satellite-selection">
            Спутник
            <select class="form-control selectpicker"
                data-style="btn"
                name="satellite"
                autocomplete="off"
                data-size="10"
                id="satellite-selection"
                data-live-search="true">
                <option value=""
                    selected
                    disabled>Выберите спутник</option>
                {% for satellite in satellites %}
                <option data-norad="{{ satellite.norad_cat_id }}"
                    data-name="{{ satellite.name }}"
                    data-sat-id="{{ satellite.sat_id }}"
                    value="{{ satellite.norad_cat_id }}">
                    {{ satellite.norad_cat_id }} - {{ satellite.name }}
                </option>
                {% endfor %}
            </select>
        </label>
    </div>
    <div class="col-lg-4 px-2">
        <label for="transmitter-selection">
            Передатчик
            <div id="transmitter-field-loading"
                class="col-sm-9 loading-field">
                <div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </div>
            <div class=""
                id="transmitter-field">
                <select id="transmitter-selection"
                    class="form-control selectpicker"
                    data-style="btn"
                    disabled
                    name="transmitter"
                    data-size="10"
                    autocomplete="off">
                    <option id="no-transmitter"
                        value=""
                        selected>Нет доступных передатчиков</option>
                </select>
            </div>
        </label>
    </div>
    <div class="col-lg-4 row justify-content-end">
        <button type="button"
            id="add-button"
            class="btn btn-orange"
            disabled='true'>
            <i class="bi"
                aria-hidden="true"></i>
            Добавить спутник в расписание сети
        </button>
    </div>
</div>
{% csrf_token %}
<div class="row">
    <button type="button"
        id="advanced-options"
        class="btn btn-link"
        data-toggle="collapse"
        data-target=".collapse-option"
        aria-expanded="false"
        aria-controls="collapse-option">
        <span class="bi bi-chevron-down"></span> Показать больше настроек
    </button>
</div>
<div class="row collapse collapse-option">
    <button type="button"
        id="set-parameters"
        class="btn btn-success"
        disabled>
        Обновить параметры
    </button>
</div>
<div class="row collapse collapse-option">
    <label class="col-lg-6 col-form-label">Минимальный горизонт наблюдения</label>
    <div class="col-lg-6"
        id="horizon-status">
        <div class="btn-group btn-group-toggle d-flex"
            role="group"
            data-toggle="buttons">
            <label class="btn btn-outline-dark active"
                id="default-horizon">
                <input type="radio"
                    name="horizon"
                    value="0"
                    autocomplete="off">
                Минимальный горизонт станции
            </label>
            <label class="btn btn-outline-dark"
                id="custom-horizon">
                <input type="radio"
                    name="horizon"
                    value="custom"
                    autocomplete="off">
                Установить свой
            </label>
        </div>
    </div>
</div>
<div class="row collapse collapse-option">
    <label class="col-lg-6 col-form-label">Максимальное возвышение спутника</label>
    <div class="col-lg-6"
        id="culmination-status">
        <div class="btn-group btn-group-toggle d-flex"
            role="group"
            data-toggle="buttons">
            <label class="btn btn-outline-dark active"
                id="default-culmination">
                <input type="radio"
                    name="culmination"
                    value="0,90"
                    autocomplete="off">
                По умолчанию(90 градусов)
            </label>
            <label class="btn btn-outline-dark"
                id="custom-culmination">
                <input type="radio"
                    name="culmination"
                    value="custom"
                    autocomplete="off">
                Установить свой
            </label>
        </div>
    </div>
</div>
<div class="row collapse collapse-option"
    id="split-duration-formgroup">
    <label class="col-lg-6 col-form-label">Длительность наблюдения</label>
    <div class="col-lg-6"
        id="split-duration-status">
        <div class="btn-group btn-group-toggle d-flex"
            role="group"
            data-toggle="buttons">
            <label class="btn btn-outline-dark active"
                id="default-split-duration">
                <input type="radio"
                    name="split_duration"
                    value="{{ split.duration }}"
                    data-min="{{ obs_min_duration }}"
                    autocomplete="off">
                По-умолчанию({{ split.duration }}сек)
                </input>
            </label>
            <label class="btn btn-outline-dark"
                id="custom-split-duration">
                <input type="radio"
                    name="split_duration"
                    value="custom"
                    autocomplete="off">
                Произвольное
                </input>
            </label>
        </div>
    </div>
</div>
<div class="row collapse collapse-option">
    <label class="col-lg-6 col-form-label">Длительность паузы между наблюдениями</label>
    <div class="col-lg-6"
        id="break-duration-status">
        <div class="btn-group btn-group-toggle d-flex"
            role="group"
            data-toggle="buttons">
            <label class="btn btn-outline-dark active"
                id="default-break-duration">
                <input type="radio"
                    name="break_duration"
                    value="{{ split.break }}"
                    autocomplete="off">
                По-умолчанию({{ split.break }}сек)
                </input>
            </label>
            <label class="btn btn-outline-dark"
                id="custom-break-duration">
                <input type="radio"
                    name="break_duration"
                    value="custom"
                    autocomplete="off">
                Произвольное
                </input>
            </label>
        </div>
    </div>
</div>
<div class="row collapse collapse-option">
    <label class="col-lg-6 col-form-label">Начальный и конечный азимуты</label>
    <div class="col-lg-6"
        id="azimuts">
        <div class="btn-group btn-group-toggle d-flex"
            role="group"
            data-toggle="buttons">
            <label class="btn btn-outline-dark active"
                id="default-azimutes">
                <input type="radio"
                    name="azimutes"
                    value="0,360"
                    autocomplete="off">
                По-умолчанию(0:360)
                </input>
            </label>
            <label class="btn btn-outline-dark"
                id="custom-azimutes">
                <input type="radio"
                    name="azimutes"
                    value="custom"
                    autocomplete="off">
                Установить свои
                </input>
            </label>
        </div>
    </div>
</div>
<div class="row">
    <legend>Расписание спутников</legend>
</div>
<div class="satellite-table-wrapper">
    <table class="table table-hover"
        id="satellite-table">
        <thead>
            <tr>
                <th scope="col">Приоритет</th>
                <th scope="col">Имя спутника</th>
                <th scope="col">UUID передатчика</th>
                <th scope="col">Частота передатчика</th>
                <th scope="col">Модуляция</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class='ui-sortable'>
            {% for satellite in network_schedule_list %}
            <tr class="ui-sortable-handle">
                <td class="index">{{satellite.prio}}</td>
                <td><a href="#"
                        data-toggle="modal"
                        data-target="#SatelliteModal"
                        data-id="{{ satellite.norad_cat_id }}"
                        data-sat-id="{{ satellite.sat_id }}">{{ satellite.sat_name }}</a>
                </td>
                <td>{{satellite.transmitter_uuid}}</td>
                <td>{{satellite.transmitter_freq}}</td>
                <td>{{satellite.transmitter_mode}}</td>
                <td><button type="button"
                        class="delete-row-button"
                        aria-hidden="true">&times;</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
