<div class="modal fade"
  id="SatelliteModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="SatelliteModalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header align-items-center justify-content-between">
        <h4 class="modal-title"
          id="SatelliteModalTitle">
        </h4>
        <div id="modal-buttons"></div>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="row align-items-center justify-content-between">
            <div class="col-12 col-md-6">
              <img class="modal-img-full"
                alt="satellite image">
            </div>
            <div class="col-12 col-md-6">
              <div class="card-body">
                <div class="card-title"></div>
                <div class="satellite-names"></div>
                <hr>
                <table class="table table-sm table-borderless">
                  <tbody>
                    <tr>
                      <td>
                        <span class="badge">{% trans "NORAD ID" %}</span>
                      </td>
                      <td>
                        <span class="front-data satellite-id"></span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span class="badge">{% trans "Статус" %}</span>
                      </td>
                      <td>
                        <span class="front-data satellite-status"></span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span class="badge">{% trans "Процент успешности" %}</span>
                      </td>
                      <td>
                        <span class="front-data satellite-success-rate"></span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span class="badge">{% trans "Наблюдения" %}</span>
                      </td>
                      <td>
                        <a class="btn btn-sm btn-dark satellite-total-obs"
                          href="/observations/"
                          id="all-obs-link"
                          role="button"
                          data-toggle="tooltip"
                          data-placement="bottom"
                          title="{% trans 'Все наблюдения' %}"></a>
                        <a class="btn btn-sm btn-green satellite-good"
                          href="/observations"
                          id="good-sat-obs"
                          role="button"
                          data-toggle="tooltip"
                          data-placement="bottom"
                          title="{% trans 'Успешные наблюдения' %}"></a>
                        <a class="btn btn-sm btn-orange satellite-unknown"
                          href="/observations"
                          id="unknown-sat-obs"
                          role="button"
                          data-toggle="tooltip"
                          data-placement="bottom"
                          title="{% trans 'Неизвестные наблюдения' %}"></a>
                        <a class="btn btn-sm btn-red satellite-bad"
                          href="/observations"
                          id="bad-sat-obs"
                          role="button"
                          data-toggle="tooltip"
                          data-placement="bottom"
                          title="{% trans 'Плохие наблюдения' %}"></a>
                        <a class="btn btn-sm btn-blue satellite-future"
                          href="/observations"
                          id="future-sat-obs"
                          role="button"
                          data-toggle="tooltip"
                          data-placement="bottom"
                          title="{% trans 'Будущие наблюдения' %}"></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="card transmitters-stats">
          <div class="card-body"
            id="transmitters"></div>
        </div>
        <p class="error-text"></p>
      </div>
      <div class="modal-footer">
        <button type="button"
          class="btn btn-small btn-dark"
          data-dismiss="modal">{% trans "Закрыть" %}</button>
      </div>
    </div>
  </div>
</div>