<div class="stage-notice">
  Это тестовое окружение.
  Обо всех найденных ошибках сообщайте тут: <a
    href="https://gitlab.com/space-education-development/soniks/soniks-network/issues"
    target="_blank">сообщи об ошибках</a>.
  Основной сайт находится по ссылке: <a href="https://sonik.space/"
    target="_blank">sonik.space</a>.
</div>
