<div class="modal fade"
  id="StationModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="StationModalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header align-items-center justify-content-between">
        <h4 class="modal-title"
          id="StationModalTitle"></h4>
        <div id="modal-buttons">
          <a class="btn btn-small btn-orange"
            href=""
            id="station-link">{% trans "Подробнее" %}</a>
          {% if can_schedule %}
          <a class="btn btn-small btn-blue"
            href="/observations/new/"
            id="new-obs-link">{% trans "Новое наблюдение" %}</a>
          {% endif %}
        </div>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="row align-items-center">
            <div class="col-12 col-md-6">
              <img class="modal-img-full"
                alt="station image">
            </div>
            <div class="col-12 col-md-6">
              <div class="card-body">
                <div class="card-title"></div>
                <hr>
                <table class="table table-sm table-borderless">
                  <tbody>
                    <tr>
                      <td>
                        <span class="badge">{% trans "Владелец" %}</span>
                      </td>
                      <td>
                        <a class="front-data station-owner"
                          target="_blank"></a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span class="badge">{% trans "Процент успешности" %}</span>
                      </td>
                      <td>
                        <span class="front-data station-success-rate"></span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span class="badge">{% trans "Антенны" %}</span>
                      </td>
                      <td class="station-antennas"></td>
                    </tr>
                    <tr>
                      <td>
                        <span class="badge">{% trans "Наблюдения" %}</span>
                      </td>
                      <td>
                        <a class="btn btn-sm btn-dark station-total-obs"
                          href="/observations/"
                          id="all-obs-link"
                          role="button"
                          data-toggle="tooltip"
                          data-placement="bottom"
                          title="{% trans 'Все наблюдения' %}"></a>
                        <a class="btn btn-sm btn-green station-good"
                          href="/observations"
                          id="good-obs-link"
                          role="button"
                          data-toggle="tooltip"
                          data-placement="bottom"
                          title="{% trans 'Успешные наблюдения' %}"></a>
                        <a class="btn btn-sm btn-orange station-unknown"
                          href="/observations"
                          id="unknown-obs-link"
                          role="button"
                          data-toggle="tooltip"
                          data-placement="bottom"
                          title="{% trans 'Неизвестные наблюдения' %}"></a>
                        <a class="btn btn-sm btn-red station-bad"
                          href="/observations"
                          id="bad-obs-link"
                          role="button"
                          data-toggle="tooltip"
                          data-placement="bottom"
                          title="{% trans 'Плохие наблюдения' %}"></a>
                        <a class="btn btn-sm btn-blue station-future"
                          href="/observations"
                          id="future-obs-link"
                          role="button"
                          data-toggle="tooltip"
                          data-placement="bottom"
                          title="{% trans 'Будущие наблюдения' %}"></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body table-schedule">
            <div id="pass-predictions">
              <div class="row justify-content-between schedule-title">
                <div class="col ">{% trans "Ближайшие сеансы с"%} {{ satellite.name }}
                </div>
                <div class="col success-rate-wrapper"></div>
              </div>
              <div class="row">
                <div class="col table-wrapper">
                  <div class="loading-spinner">
                    <div class="spinner">
                      <div class="bounce1"></div>
                      <div class="bounce2"></div>
                      <div class="bounce3"></div>
                    </div>
                    {% trans "Расчет будущих прохождений"%}
                  </div>
                  <table id="resTable"
                    class="table hover d-none">
                    <thead>
                      <th>
                        <span aria-hidden="true"
                          data-toggle="tooltip"
                          data-placement="bottom"
                          title="{% trans 'Спутник поднимается над горизонтом' %}">{% trans "Восход" %}</span>
                      </th>
                      <th>
                        <span aria-hidden="true"
                          data-toggle="tooltip"
                          data-placement="bottom"
                          title="{% trans 'Спутник приближается к горизонту' %}">{% trans "Заход" %}</span>
                      </th>
                      <th>⤉ ⇴ ⤈</th>
                      <th class="polar-plot">{% trans "Полярный график" %}</th>
                      <th id="can_schedule"></th>
                    </thead>
                    <tbody id="pass-predictions-results"
                      can_schedule="{{ can_schedule }}">

                    </tbody>
                  </table>
                </div>
              </div>
              <div id="prediction-results">
                <div><span id="prediction-results-count"></span> {% trans "ближайших сеансов найдено." %}</div>
                <div>
                  <a id="open-all"
                    href="">{% trans "Посмотреть все сеансы" %}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button"
          class="btn btn-small btn-dark"
          data-dismiss="modal">{% trans "Закрыть" %}</button>
      </div>
    </div>
  </div>
</div>