@import '../variables.scss';

.block-h1 {
    @media (min-width: 768px) and (max-width: 991px) {

        .subtitle-right {
            text-align: end;
        }
    }
}

.block-big-img {
    margin-top: 30px;

    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 600px;
        background-image: url('/static/img/about/big-image.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 40px;
    }

    @media (max-width: 991px) {

        &::before {
            height: 500px;
        }

        .subtitle-right {
            text-align: end;
            margin-right: 0;
            margin-left: auto;
        }
    }

    @media (max-width: 767px) {

        &::before {
            width: 100%;
            height: 200px;
            margin-bottom: 20px;
        }

        .subtitle-right {
            text-align: start;
        }
    }
}

.block-targets {
    justify-content: space-between;
    margin-top: 80px;

    .collage {
        width: 650px;
        margin-top: -300px;
    }

    .description {
        padding-bottom: 15px;

        > div {
            max-width: 500px;
        }

        .subtitle {
            margin-top: 30px;
        }
    }

    @media (max-width: 1299px) {
        margin-top: 70px;

        .collage {
            width: 480px;
        }
    }

    @media (max-width: 991px) {
        margin-top: 40px;
        justify-content: start;

        .collage {
            width: 50%;
            margin-top: -150px;
        }

        .description {

            .subtitle {
                margin-top: 20px;
            }

            @media (min-width: 768px) {
                max-width: 324px;
            }
        }
    }

    @media (max-width: 767px) {
        justify-content: center;

        .collage {
            min-width: 350px;
            margin-top: -100px;
        }

        .description {
            max-width: 540px;
            margin-top: 20px;
            padding-left: 20px;
            padding-right: 20px;

            .subtitle {
                margin-top: 15px;
            }
        }
    }
}

.block-sattelite-gallery {
    padding: 80px 0 100px 40px;
    background-color: $dark-500;

    .h2 {
        text-align: center;
        margin-bottom: 50px;
    }

    .swiper {

        img {

            width: 100%;
            height: 400px;
            object-fit: cover;
        }

        .alt {
            margin-top: 15px;
            font-size: 18px;
            font-weight: 600;
            line-height: 24px;
            text-transform: uppercase;
            color: $white;
        }

        .block-sattelite-gallery__slider-swiper-navigation {
            display: flex;
            align-items: center;
            justify-content: end;
            margin-bottom: 20px;
            margin-right: 40px;

            > div {
                width: 42px;
                height: 7px;
                background-image: url('/static/img/arrow-right.svg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                transition: all 0.4s;
                cursor: pointer;

                &.block-sattelite-gallery__slider-swiper-navigation-prev {
                    transform: rotate(180deg) translateX(15px);
                }

                &.swiper-button-disabled {
                    opacity: .4;
                    cursor: default;
                }

                &:not(.swiper-button-disabled):hover {

                    filter: hue-rotate(160deg);
                }
            }
        }
    }

    @media (max-width: 1299px) {
        padding: 50px 0 80px 20px;

        .h2 {
            margin-bottom: 40px;
        }

        .swiper .alt {
            font-size: 16px;
            margin-top: 10px;
        }
    }

    @media (max-width: 991px) {

        .swiper img {
            height: 350px;
        }
    }

    @media (max-width: 767px) {
        padding: 30px 0 50px 20px;

        .h2 {
            margin-bottom: 15px;
        }

        .swiper img {
            height: 300px;
        }
    }
}

footer {
    margin-top: 0;
}

////////////////////////////////////////////////////////////// Light Theme /////////////////////////////////////////////////////////////

.darkmode--activated {

    .block-sattelite-gallery {
        background-color: $dark-50;
    }

    .block-sattelite-gallery .swiper .alt {
        color: $dark-400;
    }
}
