@import '../variables.scss';

.block-gallery {
    margin-top: 15px;

    .wrap {
        gap: 10px;
        justify-content: space-between;

        .image-card {
            position: relative;
            max-width: 350px;
            flex-basis: 330px;
            flex-grow: 1;
            margin-bottom: 25px;
            height: 230px;
            transition: transform 0.2s;

            &:hover {
                cursor: pointer;
                transform: scale(1.02);
            }

            .loading-spinner {
                position: absolute;
                z-index: 3;
                width: 100%;
                bottom: 50%;
            }

            .title {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                bottom: 0;
                z-index: 3;
                width: 100%;
                height: 45px;
                font-weight: 500;
                color: $blue-400;
                background: rgba(7, 7, 7, 0.9);
                box-shadow: -3px 4px 4px rgba(0, 0, 0, 0.25);
            }

            .images {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 230px;

                img {
                    min-width: 320px;
                    height: 210px;
                    position: absolute;
                    object-fit: cover;
                    background-color: $dark-900;
                    color: $gray-200;

                    &.img-1 {
                        right: 0;
                        bottom: 0;
                        z-index: 2;
                        filter: drop-shadow(-4px -2px 4px rgba(0, 0, 0, 0.25));
                    }

                    &.img-2 {
                        z-index: 1;
                        filter: drop-shadow(-4px -2px 4px rgba(0, 0, 0, 0.25));
                    }

                    &.img-3 {
                        left: 0;
                        top: 0;
                    }
                }
            }

            &.observation {
                margin-top: 10px;

                .badget {
                    position: absolute;
                    bottom: unset;
                    top: -5px;
                    right: -5px;
                    z-index: 10;
                }

                .images {

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            @media (max-width: 991px) {
                flex-basis: 310px;
                height: 200px;

                .images {
                    height: 200px;

                    img {
                        min-width: 290px;
                        height: 170px;
                    }
                }
            }

            @media (max-width: 767px) {
                flex-basis: 100%;
                max-width: 100%;
                margin-bottom: 10px;

                .images {
                    height: 200px;

                    img {
                        min-width: 290px;
                        height: 170px;
                        width: 80%;
                    }
                }
            }
        }
    }
}

.fancybox__container {

    .obs-content {

        .row {
            justify-content: space-between;
            gap: 50px;

            &.obs-id {
                justify-content: center;
                margin-bottom: 10px;
            }

            .col {
                white-space: nowrap;

                &.value {
                    text-align: end;
                }
            }
        }
    }
}

////////////////////////////////////////////////////////////// Light Theme /////////////////////////////////////////////////////////////

.darkmode--activated {

    .block-gallery .wrap .image-card {

        .title {
            background: rgba(255, 255, 255, 0.9);
        }

        .images img {
            background-color: $white;
            color: $dark-100;
        }
    }
}
