@import '../variables.scss';

.launches_header_section {

    >.row {
        gap: 6px;

        @media (max-width: 767px) {
            align-items: end;
            flex-direction: column;
        }
    }

    h2 {
        border-bottom: none;
        width: auto;
        flex: 1;
        padding-bottom: 10px;
    }
}

.launches_header_time_wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0;
    flex-wrap: wrap;
    align-items: flex-end;
    margin: 0;

    @media (max-width: 991px) {
        gap: 0;
    }
}

.launches_header_time_item_wrapper {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin: 0;
    padding: 0 0 10px;

    h4 {
        padding: 0;
        margin: 0;
        color: $dark-200;
        font-size: 16px;
        text-transform: uppercase;
        white-space: nowrap;
        width: auto;
        line-height: 16px;
        @media (max-width: 767px) {
            font-size: 12px;
        }
    }

    span {
        font-size: 35px;
        line-height: 40px;

        @media (max-width: 991px) {
            font-size: 26px;
            line-height: 30px;
        }
    }

    @media (max-width: 767px) {
        text-align: center;
        width: 100%;
    }
}

#launched_timer {
    background: $orange-400;
    color: $white;
}

.block-satellites-information {

    .h2 {
        text-align: end;

        @media (max-width: 576px) {
            text-align: center;
        }
    }

    .container .information-block .row {

        &.information-block__status .sattelite-status {
            height: 6px;
            top: 8px;

            .progress {
                height: 100%;
                border-radius: 0;
            }
        }

        .title {
            width: fit-content;
        }
    }
}

.block-table {
    margin: 30px 0;
}

.launches-detail-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.launches_detail_form .row {
    align-items: end;
}

.launches_detail_form_label {
    padding: 0;
    margin: 0;
    min-width: 350px;
    flex: 1;
}

.launches_detail_form_button {
    flex: 1;
    width: 100%;
    height: 36px !important;
    border-radius: 0 !important;
}

.spectrum-block {
    min-height: 240px;
    margin-top: 50px;
    margin-bottom: 30px;
}
