.paginator {
    @media (max-width: 575px) {

        .buttons {
            display: flex;
            width: 100%;
            gap: 10px;

            button {
                flex-basis: 50%;

                &.submit-vet-filter {
                    flex-basis: 100%;
                }
            }
        }
    }
}
