@import '../variables.scss';

.block-h1 {

    .subtitle {
        justify-content: space-between;

        .utc-text {
            display: flex;
            align-items: center;
        }
    }
}

.tables-filtering__form {
    padding-top: 0;
    min-height: 50vh;

    #collapse-options {

        >.form-group {
            display: flex;
            flex-direction: column;
            gap: 10px;

            label {
                position: relative;

                .bootstrap-select .dropdown-menu li a {

                    &.opt {
                        padding-left: 4px;
                    }

                    &.dropdown-item {
                        position: relative;
                    }
                }

                &.transmitters-label {

                    .transmitters-spinner {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                    }

                    .transmitter-option {
                        position: relative;

                        .progress {
                            position: absolute;
                            height: 8px;
                        }
                    }

                    .dropdown-menu ul li:not(.dropdown-header):not(.dropdown-divider) {
                        padding-bottom: 12px;
                    }

                    .filter-option {
                        min-height: 16.1px;
                    }
                }

                .bs-actionsbox {

                    button {
                        font-size: 14px;
                        line-height: 14px;
                        padding: 6px 8px;
                        color: $orange-400;
                        background-color: transparent;
                        border: 1px solid $orange-400;

                        &:first-child {
                            border-radius: 3px 0 0 3px;
                        }

                        &:last-child {
                            border-left: none;
                            border-radius: 0 3px 3px 0;
                        }

                        &:hover {
                            color: $blue-400;
                        }
                    }
                }
            }

            &:last-child label {
                height: 59.1px;
            }
        }
    }

    .slider-wrapper {
        width: 100%;
        margin-top: 8px;
        margin-left: 10px;

        .slider {
            position: relative;
            margin-bottom: 20px !important;

            .slider-track {
                cursor: pointer;
                height: 6px;
                border-radius: 5px;
                background-color: $gray-200;

                .slider-selection {
                    height: 100%;
                    background-color: $blue-400;
                    position: absolute;
                }
            }

            .slider-tick-label-container {

                .slider-tick-label {
                    width: 70px !important;
                    margin-left: -39px !important;
                    text-align: center;

                    &:last-child {
                        right: 0 !important;
                        left: unset !important;
                        text-align: end;
                    }
                }
            }

            .slider-tick-container {

                .slider-tick {
                    cursor: pointer;
                    position: absolute;
                    margin-left: -10px;
                    top: -3px;
                    width: 12px;
                    height: 12px;
                    background-color: $gray-200;
                    opacity: .7;
                    border-radius: 50%;

                    &.in-selection {
                        background-color: $orange-400;
                        opacity: 1;
                    }

                    &:last-child {
                        right: 0 !important;
                        left: unset !important;
                    }
                }
            }

            .slider-handle {
                cursor: pointer;
                position: absolute;
                top: -3px;
                width: 12px;
                height: 12px;
                background-color: $orange-400;
                border-radius: 50%;
                margin-left: -10px;

                &:last-child {
                    margin-left: -12px;
                }
            }

            .tooltip {
                top: -50px;
                margin-left: -10px;

                .tooltip-inner {
                    margin-left: -10px;
                }

                .arrow {
                    bottom: 1px;
                }
            }
        }

        #min-horizon-slider {

            .slider-handle {
                margin-left: -12px;
            }
        }
    }

    .more-settings {

        .more-settings-btn {
            position: relative;
            padding-left: 0;
            padding-right: 20px;

            &::after {
                position: absolute;
                top: 9px;
                right: 0;
                content: '';
                background-image: url('/static/img/arrow-down.svg?2b5122b15dc4');
                width: 20px;
                height: 12px;
                background-size: 100%;
                background-position: center;
            }

            &.show {

                &::after {
                    transform: scale(1, -1);
                }
            }
        }

        .more-options {
            display: none;
            margin-top: 10px;
            margin-bottom: 15px;
            flex-direction: column;

            >.row {
                padding: 6px 0 2px 0;
                border-bottom: 1px solid $gray-300;
            }

            .title {
                display: flex;
                align-items: center;
                min-width: 50%;
            }

            .buttons {
                display: flex;
                flex-wrap: wrap;
                min-width: 470px;

                label {
                    width: 50%;
                    outline: none;
                    border: 1px solid $gray-150;

                    &:first-child {
                        border-right: none;
                        border-radius: 3px 0 0 3px;
                    }

                    &:nth-child(2) {
                        border-left: none;
                        border-radius: 0 3px 3px 0;
                    }

                    &.active {
                        color: $white;
                        background-color: $gray-150;
                    }

                    input {
                        display: none;
                    }

                    & + input {
                        margin: 4px 0;
                    }
                }
            }

            @media (max-width: 991px) {

                >.row {
                    border-bottom: none;
                }

                .buttons {
                    margin-top: 2px;
                }
            }

            @media (max-width: 575px) {

                .buttons {
                    min-width: 100%;
                    overflow: hidden;
                }
            }
        }
    }

    .calculation-result {
        display: none;
    }

    .alert-error {
        color: $orange-500;
        font-size: 12px;
    }

    .elevation {
        max-width: 300px;

        .slider-wrapper {
            margin-left: 0;

            .slider {
                margin-bottom: 0 !important;

                .slider-handle:not(:last-child) {
                    margin-left: 0;
                }
            }
        }
    }

    #timeline {

        svg {

            > g > text {

                font-size: 12px;
                fill: $dark-50;

                &:hover {
                    cursor: pointer;
                    font-weight: 500;
                }
            }

            .tick text {
                transform: rotate(-45deg);
                transform-origin: 1px 10px 0;
            }

            rect {
                cursor: pointer;

                &.unselected-obs {
                    opacity: .4;
                }
            }
        }

        @media (max-width: 767px) {
            overflow-x: scroll;
        }
    }

    #schedule-selection {
        display: none;

        #selected-observations {
            text-align: center;

            &.text-success {
                font-size: 12px;
                color: $green-400;
            }
        }

        #hover-obs {
            position: absolute;
            padding: 10px;
            background-color: #626262e8;
            box-shadow: 4px 4px 8px 0 rgba(155, 218, 255, 0.57);
            color: $white;
            z-index: 10;

            >.row {
                gap: 15px;
            }

            .obs-details {

                >.row {
                    gap: 10px;
                    justify-content: space-between;
                    flex-wrap: nowrap;

                    div {
                        white-space: nowrap;
                    }
                }
            }

            @media (max-width: 991px) {

                width: 648px;
            }

            @media (max-width: 767px) {

                width: 500px;
            }

            @media (max-width: 575px) {

                width: 100%;
            }
        }
    }
}

#confirm-modal {

    .modal-footer {
        justify-content: space-between;
    }
}

////////////////////////////////////////////////////////////// Light Theme /////////////////////////////////////////////////////////////

.darkmode--activated {

    .tables-filtering__form {

        .more-settings .more-options {

            > .row {
                border-bottom-color: $gray-50;
            }
        }

        .slider-wrapper .slider {

            .slider-track {
                background-color: $gray-50;
            }

            .slider-tick-container .slider-tick:not(.in-selection) {
                background-color: $dark-100;
            }
        }

        #timeline svg > g > text {
            fill: $gray-200;
        }
    }
}
