@import '../variables.scss';

.container-partners {
    margin-top: 15px;

    .wrap {
        position: relative;
        float: left;
        width: 400px;
        height: 120px;
        margin-right: 15px;
        margin-bottom: 10px;

        &::before {
            content: '';
            background-image: url('/static/img/partners/ano-white.png');
            width: 400px;
            height: 120px;
            background-size: 100%;
            background-position: center;
            display: block;
            position: absolute;
            background-repeat: no-repeat;
        }
    }

    p {
        text-align: justify;

        &.citation {
            max-width: 600px;
            text-align: end;
            margin-right: 0;
            margin-left: auto;
            border-right: 2px solid $orange-400;
            padding-right: 10px;
        }
    }

    ul {
        list-style: none;

        li {
            position: relative;

            &::before {
                content: '';
                background-image: url('/static/img/arrow-down.svg');
                width: 20px;
                height: 12px;
                background-size: 100%;
                background-position: center;
                transform: rotate(270deg);
                filter: hue-rotate(160deg);
                display: block;
                position: absolute;
                left: -30px;
                top: 10px;
            }
        }
    }

    @media (max-width: 767px) {

        .wrap {
            width: 100%;
            height: 90px;

            &::before {
                width: 300px;
                height: 90px;
            }
        }

        p.citation {
            text-align: center;
            border-right: none;
            border-bottom: 2px solid $orange-400;
            padding-right: 0;
            padding-bottom: 10px;
        }

        ul {
            padding-left: 20px;

            li::before {
                left: -25px;
                top: 5px;
            }
        }
    }
}

.darkmode--activated {

    .container-partners {

        .wrap::before {
            background-image: url('/static/img/partners/ano.png');
        }

        .citation {
            color: $gray-350;
        }
    }
}
