@import '../variables.scss';

.block-h1 {

    .btn-back {
        margin-bottom: 6px;
    }

    >.row {
        border-bottom: 1px solid $dark-300;

        .satellite-name {
            display: flex;
            align-items: center;

            h1 {
                border: none;

                @media (max-width: 991px) {
                    padding: 0;
                }
            }
        }
    }

    .sat-actions {
        gap: 4px;
        padding: 10px 0;

        a {
            flex-grow: 1;
            height: fit-content;
            position: relative;
        }

        .badget.top {
            position: absolute;
            right: -5px;
            top: -5px;
            bottom: unset;
            padding: 2px 4px;
            z-index: 1;
        }
    }
}

.block-bigmap {

    .description-map {
        position: absolute;
        top: 15px;
        right: 0;
        left: 0;

        .description {
            display: flex;
            justify-content: end;
            align-items: end;

            .status {
                letter-spacing: 0;
                text-align: right;
                color: $dark-200;
            }
        }

        .show-arrow {
            display: block;
            position: fixed;
            top: 30px;
            left: 60px;
            z-index: 50;
            transform: scale(1.5) rotate(180deg);

            .arrow-right {
                margin: 0;
            }
        }
    }
}

.block-satellites-information {
    margin-top: 15px;

    .container {

        >.row {
            gap: 20px 10px;
        }

        .sattelite-img-wrapper {

            .sattelite-img {
                width: 100%;
                height: 100%;
                max-height: 345px;
                object-fit: contain;
            }

            @media (max-width: 767px) {
                min-width: 100%;
                max-height: 300px;
            }
        }

        .information-block {
            max-width: 50%;
            display: flex;
            flex-direction: column;

            .h2 {
                margin-bottom: 20px;

                +.row {
                    border-top: none;
                }
            }

            .information-block__table {
                flex-grow: 1;
            }

            .row {
                gap: 10px;
                padding: 4px 0;
                border-top: 1px solid $gray-300;
                align-items: center;
                flex-wrap: nowrap;

                .title {
                    width: 150px;

                    @media (max-width: 991px) {
                        width: 110px;
                    }
                }

                .description {
                    flex-grow: 1;
                    text-align: end;
                    color: $dark-50;
                    align-items: center;

                    &.overflow-ellipsis {
                        overflow-x: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        color: $blue-400;

                        &:hover {
                            color: $orange-400;
                        }
                    }

                    .empty-val {
                        height: 1px;
                        background-color: $dark-200;
                        width: 50px;
                        margin-right: 0;
                        margin-left: auto;
                    }
                }

                &.information-block__status {
                    position: relative;
                    padding-top: 20px;
                    padding-bottom: 10px;
                    margin-top: 10px;
                    margin-bottom: 4px;
                    background-color: $gray-300;

                    .sattelite-status {
                        position: absolute;
                        height: 5px;
                        background-color: $orange-400;
                        width: 100%;
                        top: 10px;
                    }

                    .title {
                        padding-left: 10px;
                        width: fit-content;
                    }

                    .description {
                        padding-right: 10px;
                    }
                }

                &:first-child {
                    border-top: none;
                    padding-top: 0;
                }

                &.no-wrap {
                    flex-wrap: nowrap;
                }
            }

            @media (max-width: 767px) {
                max-width: 100%;

                .h2 {
                    margin-bottom: 10px;
                }
            }
        }
    }

    &.orbital, &.timeline {
        margin-top: 60px;

        .information-block {
            max-width: 100%;
            justify-content: end;
            flex-direction: row;

            .h2 {
                text-align: end;
            }

            .information-block__table {
                margin-top: 15px;
                padding-left: 5px;
                max-width: 50%;

                .row .title {
                    width: fit-content;
                }
            }
        }

        @media (max-width: 767px) {
            margin-top: 50px;

            .information-block {
                gap: 0;

                .information-block__table {
                    max-width: 100%;
                    margin-top: 0;
                    padding-left: 0;
                }
            }
        }
    }

    &.timeline {

        .description {
            font-family: monospace;
            white-space: nowrap;
        }
    }

    &.telemetry, &.last-observers {
        margin-top: 60px;

        .information-block {
            max-width: 100%;
            flex-direction: row;

            .h2 {
                text-align: start;
            }

            .information-block__table {
                margin-top: 15px;
                max-width: 50%;

                .row {

                    .title {
                        width: fit-content;
                        white-space: nowrap;
                    }

                    .description {
                        white-space: nowrap;
                    }
                }
            }
        }

        @media (max-width: 767px) {
            margin-top: 50px;

            .information-block {
                gap: 0;

                .information-block__table {
                    max-width: 100%;
                    margin-top: 0;
                }
            }
        }
    }

    &.orbital-elements {
        margin-top: 30px;
        padding-top: 60px;
        padding-bottom: 110px;
        background-color: $dark-500;

        .container .information-block {
            max-width: 100%;

            .information-block__table {
                max-width: 100%;

                strong + .row {
                    margin-top: 10px;
                }

                >.row {
                    align-items: start;

                    .title {
                        width: 230px;
                    }

                    .block-copy {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 4px;

                        pre {
                            margin: 0;
                            text-align: end;
                            flex-grow: 1;
                        }
                    }
                }
            }
        }

        @media (max-width: 991px) {
            padding-bottom: 75px;

            .container .information-block .information-block__table > .row {

                .title {
                    width: fit-content;
                }

                &:last-child {
                    flex-wrap: wrap;

                    .description {
                        min-width: 100%;

                        .block-copy {
                            font-size: 10px;

                            pre {
                                text-align: start;
                            }
                        }
                    }
                }
            }
        }

        @media (max-width: 767px) {
            padding-bottom: 75px;

            .information-block__table {

                .block-copy {
                    font-size: 12px;
                    position: relative;
                    padding-right: 26px;

                    pre {
                        overflow-x: scroll;
                    }

                    img {
                        position: absolute;
                        right: 0;
                    }
                }
            }
        }
    }
}

.block-transmitters {
    margin-top: 70px;

    .h2 {
        text-align: center;
    }

    .transmitters-cards {
        justify-content: space-around;
        margin-top: 20px;
        gap: 15px;

        .transmitters-cards__item {
            background-color: $gray-300;
            flex-grow: 1;
            max-width: 32%;
            display: flex;
            flex-direction: column;

            .card-header {
                padding: 10px;
                border-top: 4px solid $blue-400;
                border-bottom: 1px solid $gray-200;
                opacity: 1;

                &.inactive {
                    border-top-color: $orange-400;
                }

                .card-header-btn {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 6px;

                    a {
                        display: flex;
                        align-items: center;
                        gap: 4px;
                        color: unset;
                        font-size: 12px;

                        &:hover {
                            cursor: pointer;
                            opacity: .7;
                        }

                        img {
                            width: 18px;
                            pointer-events: none;
                        }
                    }
                }
            }

            .card-body {
                padding: 5px 10px;
                flex-grow: 1;

                >.row {
                    gap: 4px;
                    padding: 1px 0;
                    align-items: center;

                    .title {
                        width: 180px;

                        @media (max-width: 390px) {
                            width: 175px;
                        }
                    }

                    .description {
                        flex-grow: 1;
                        text-align: end;
                        color: $dark-50;
                        align-items: center;

                        &.overflow-ellipsis {
                            overflow-x: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            color: $blue-400;

                            &:hover {
                                color: $orange-400;
                            }
                        }

                        .empty-val {
                            height: 1px;
                            background-color: $dark-200;
                            width: 50px;
                            margin-right: 0;
                            margin-left: auto;
                        }
                    }
                }
            }

            .card-footer {
                padding: 5px 10px;
                background-color: $gray-200;
                font-size: 12px;
            }

            @media (max-width: 991px) {
                max-width: 48%;
            }
        }

        .transmitters-cards__more-btn {
            width: 100%;
            text-align: center;
            margin-top: 10px;
        }
    }

    @media (max-width: 767px) {
        margin-top: 50px;

        .transmitters-cards {

            .transmitters-cards__item {
                max-width: 100%;
            }
        }
    }
}

.last-observers {

    .header {
        font-weight: 600;
        color: $gray-50;
    }
}

.block-decoded-data {
    margin-top: 60px;
    margin-bottom: 110px;
    text-align: center;

    #decodedDataChart {
        max-height: 450px;
        min-height: 200px;
    }

    .description {
        margin-top: 10px;
    }

    .href-goto {
        margin-top: 20px;
        text-align: start;
    }

    @media (max-width: 991px) {
        margin-bottom: 75px;
    }

    @media (max-width: 767px) {

        #decodedDataChart {
            max-height: 400px;
            min-height: 200px;
        }
    }
}

.block-export-data {

    .data-details {
        display: flex;
        flex-direction: column;
        gap: 15px;

        ul {
            margin-top: 10px;
            margin-bottom: 0;
            padding: 0;
            list-style: none;

            li {
                position: relative;
                padding-left: 12px;

                &::before {
                    content: '';
                    background-image: url('/static/img/arrow-down.svg');
                    width: 14px;
                    height: 20px;
                    background-size: 100%;
                    background-repeat: no-repeat;
                    position: absolute;
                    left: 0;
                    transform: rotate(270deg);
                }
            }
        }
    }

    @media (max-width: 767px) {

        .title {
            min-width: 100%;
            margin-bottom: 10px;
        }

        .data-details {
            gap: 10px;
        }
    }
}

.block-export-tle {
    margin-top: 50px;

    .export-tle {
        flex-wrap: wrap-reverse;

        .data-details .subtitle {
            padding-right: 15px;
        }
    }
}

footer {
    margin-top: 0;
}

.modal {

    .modal-header {
        justify-content: space-between;
    }

    .modal-body {
        line-height: 14px;

        code {
            font-size: 12px;
        }
    }
}

#modalDecoder {

    .modal-header, .modal-body {
        padding: 10px 20px;
    }
}

#modalCitation {

    .modal-header {
        justify-content: end;
        padding: 5px 20px;
    }

    .modal-body {
        padding: 30px 20px;
    }
}

#StationModal {

    .card-title {
        margin-top: 15px;
    }

    .table-borderless {
        line-height: 20px;
        margin-bottom: 16px;
    }

    .table-schedule {
        min-height: 30vh;

        .table-wrapper {

            .table {

                min-width: 640px;

                th.polar-plot {
                    text-align: center;
                }

                td.max-elevation {
                    white-space: nowrap;
                }
            }

            @media (max-width: 767px) {
                overflow-x: scroll;
            }
        }

        #prediction-results {
            text-align: center;
        }
    }
}

////////////////////////////////////////////////////////////// Light Theme /////////////////////////////////////////////////////////////

.darkmode--activated {

    .block-h1 > .row {
        border-bottom-color: $dark-100;
    }

    .block-satellites-information .container .information-block .row {
        border-top-color: $gray-50;

        .description {
            color: $gray-200;

            &.overflow-ellipsis {
                color: $blue-400;
            }
        }

        &.information-block__status {
            background-color: $gray-50;
        }

        &.header {
            color: $gray-200;
        }
    }

    .block-transmitters .transmitters-cards .transmitters-cards__item {
        background-color: $gray-50;

        .card-header {
            border-bottom-color: $white;
        }

        .card-body > .row .description {
            color: $gray-200;
        }

        .card-footer {
            background-color: $white;
        }
    }

    .block-satellites-information.orbital-elements {
        background-color: $dark-50;
    }
}
