@import '../variables.scss';

.spectrum-block {
    margin-top: 15px;
    min-height: 30vh;

    #spectrum-filters {
        gap: 10px 15px;

        .col {
            min-width: 250px;
        }
    }

    .transmitters-chart {
        margin-top: 15px;

        .chart-legend {
            display: flex;
            flex-wrap: wrap;
            gap: 0 15px;

            .legend-item {
                display: flex;
                align-items: center;
                gap: 4px;

                .legend-swatch {
                    width: 10px;
                    height: 10px;
                }
            }
        }

        .chart-tooltip {
            position: absolute;
            opacity: 0;
            pointer-events: none;
            background-color: $dark-600;
            padding: 6px 8px;
            line-height: 18px;
            transition: opacity $animation-time ease;
            border-radius: 5px;

            td:last-child {
                text-align: end;
                padding-left: 10px;
            }

            &.show {
                opacity: .95;
            }
        }

        .color-transmitter {
            background-color: $blue-400;
            fill: $blue-400;
        }

        .color-transceiver {
            background-color: $orange-400;
            fill: $orange-400;
        }

        .color-transponder {
            background-color: $green-400;
            fill: $green-400;
        }

        .color-violator {
            background-color: $red-400;
            fill: $red-400;
        }

        .color-inactive {
            opacity: .25;
        }

        .color-unknown {
            opacity: .5;
        }

        .chart-svg {

            .axis__unit {
                fill: $dark-50;
            }

            .bar-rows .bar:hover {
                cursor: pointer;
                stroke: $dark-50;
            }
        }
    }
}

////////////////////////////////////////////////////////////// Light Theme /////////////////////////////////////////////////////////////

.darkmode--activated {

    .spectrum-block .transmitters-chart {

        .chart-tooltip {
            background-color: $white;
        }

        .chart-svg {

            .axis__unit {
                fill: $gray-200;
            }
        }
    }
}
