@import '../variables.scss';

.block-h1 {

    .subtitle {
        justify-content: space-between;

        .utc-text {
            display: flex;
            align-items: center;
        }
    }
}

.block-station-data {
    margin-top: 15px;

    .nav-tabs {
        display: flex;
        gap: 12px;
        list-style: none;
        padding: 0;
        margin: 0;
        border-bottom: 1px solid $orange-400;

        .nav-item {
            padding: 5px 5px 0;
            border-radius: 5px 5px 0 0;
            background-color: $gray-300;

            &.active {
                border: 1px solid $orange-400;
                border-bottom: 1px solid $dark-400;
                margin-bottom: -1px;
                background-color: transparent;
            }

            a {
                color: unset;
                position: relative;
            }

            .badget {
                bottom: unset;
                top: -10px;
                right: -8px;
                position: absolute;
                line-height: 12px;
            }

            @media (max-width: 991px) {
                line-height: 14px;
                padding: 2px 4px;
                display: flex;
                align-items: center;
            }
        }

        @media (max-width: 575px) {
            flex-wrap: wrap;
            gap: 4px;
            border-bottom: none;

            .nav-item {
                flex-grow: 1;
                padding: 5px 5px 0;
                line-height: 18px;

                a {
                    display: inline-block;
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }

    .tab-content {
        margin-top: 15px;
        min-height: 30vh;

        .tab-pane {
            display: none;

            &.active {
                display: block;
            }
        }

        #tab-station-info {

            .content {
                gap: 15px;

                .information-block__table {
                    flex-grow: 2;
                    min-width: 370px;

                    >.row {
                        gap: 10px;
                        padding: 3px 0;
                        border-top: 1px solid $gray-300;
                        align-items: center;
                        flex-wrap: nowrap;

                        .title {
                            width: 180px;

                            @media (max-width: 390px) {
                                width: 175px;
                            }
                        }

                        .description {
                            flex-grow: 1;
                            text-align: end;
                            color: $dark-50;
                            align-items: center;

                            &.status {
                                display: flex;
                                justify-content: space-between;

                                span {
                                    padding: 0 4px;
                                }
                            }

                            &.no-wrap, .no-wrap {
                                white-space: nowrap;
                            }
                        }

                        &:last-child {
                            padding-top: 10px;
                        }

                        &:first-child {
                            border-top: none;
                            padding-top: 0;
                        }
                    }

                    .station-description {
                        margin-top: 30px;
                    }

                    @media (max-width: 991px) {

                        >.row .description {

                            .progress {
                                height: 8px;
                            }
                        }

                        .station-description {
                            margin-top: 15px;
                            text-align: justify;
                        }
                    }

                    @media (max-width: 767px) {
                        min-width: 100%;
                    }

                    @media (max-width: 575px) {

                        >.row.data-row .title {
                            width: fit-content;
                        }
                    }
                }

                .station-media {
                    flex-grow: 3;
                    gap: 10px;

                    #station-view-image-container {
                        display: flex;
                        justify-content: center;

                        a {
                            display: inline-block;
                            height: fit-content;
                        }

                        img {
                            width: 100%;
                            max-height: 300px;
                        }

                        @media (max-width: 767px) {
                            min-width: 250px;

                            a {
                                width: 100%;
                            }

                            img {
                                object-fit: cover;
                                max-height: 250px;
                            }
                        }
                    }

                    #map-station {
                        width: 100%;
                        height: 300px;

                        &:hover {
                            cursor: grab;
                        }

                        @media (max-width: 767px) {
                            height: 200px;
                        }
                    }
                }
            }
        }

        #tab-configuration {

            .cards {
                margin-top: 10px;
                gap: 15px;

                .card {
                    background-color: transparent;
                    border: 1px solid $gray-300;
                    border-radius: 4px 4px 2px 2px;
                    color: unset;

                    .card-header {
                        background-color: $gray-300;
                        padding: 2px 5px;
                        color: $dark-50;
                    }

                    .card-body {
                        padding: 4px;
                        text-align: center;
                    }
                }
            }
        }

        #tab-future-passes {

            #slider-range-success, #slider-range-elevation, #slider-range-overlap {
                z-index: 0;
                height: 6px;
                margin: 6px 2px 0 2px;
                border: none;
                background-color: $gray-200;

                .ui-slider-handle {
                    border-radius: 50%;
                    height: 12px;
                    width: 12px;
                    top: -3px;
                    background-color: $orange-400;
                    border-color: $orange-400;

                    &:focus-visible {
                        opacity: .8;
                        outline: none;
                    }
                }

                .ui-slider-range {
                    background-color: $blue-400;

                    +.ui-slider-handle {
                        margin-left: -4px;
                    }
                }
            }

            #collapseFilters {
                display: none;
            }

            .filter-1 {
                gap: 30px;

                >.col {
                    min-width: 200px;
                }
            }

            .filter-2 {
                margin-top: 20px;

                .status-row {
                    flex-direction: column;
                    gap: 4px;

                    label {
                        padding: 6px;
                        max-width: 200px;
                        text-align: start;
                    }
                }

                .frequency-col {
                    max-width: 50%;

                    #freq-container {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 6px;
                        margin-top: 10px;

                        label {
                            flex-grow: 1;
                            padding: 6px;
                            text-align: start;
                        }
                    }
                }
            }

            .calculate-btn {
                margin-top: 30px;
            }

            .resulsts {
                margin-top: 25px;

                .table-wrapper {
                    overflow-x: scroll;

                    #resTable {
                        min-width: 1000px;
                        font-size: 14px;
                        line-height: 16px;

                        td {
                            padding: 0 5px;

                            &.pass-schedule {

                                .badget {
                                    margin-top: 4px;
                                    background-color: $red-500;
                                }
                            }
                        }
                    }

                    #error-pass-predictions {
                        color: $orange-500;
                    }
                }
            }

            @media (max-width: 991px) {

                .filter-1 {
                    gap: 10px;
                }

                .resulsts .table-wrapper {

                    #resTable {
                        font-size: 12px;

                        td:first-child {
                            max-width: 250px;
                        }
                    }
                }
            }

            @media (max-width: 767px) {

                .filter-2 {
                    flex-wrap: wrap;

                    >.col {
                        min-width: 50%;
                    }

                    .frequency-col {
                        margin-top: 10px;
                        max-width: 100%;
                        min-width: 325px;
                    }
                }
            }

            @media (max-width: 575px) {

                .resulsts .table-wrapper #resTable td {
                    padding: 0 2px;
                }
            }
        }

        #tab-station-log {

            table {
                font-size: 14px;
                line-height: 16px;

                tr {

                    td:first-child {
                        display: flex;
                    }

                    &.online:hover {
                        background-color: $blue-900;
                    }

                    &.testing:hover {
                        background-color: $orange-900;
                    }

                    &.offline:hover {
                        background-color: $red-500;
                    }
                }

                @media (max-width: 767px) {
                    font-size: 12px;
                }
            }
        }

        #tab-auto-scheduling {

            .schedule-option-btns {

                button {
                    flex-grow: 1;
                    outline: none;
                    border: 1px solid $blue-400;
                    background-color: transparent;
                    color: $blue-400;

                    &:first-child {
                        border-radius: 3px 0 0 3px;
                        border-right: none;
                    }

                    &:last-child {
                        border-radius: 0 3px 3px 0;
                        border-left: none;
                    }

                    &.active {
                        color: $white;
                        background-color: $blue-400;
                    }
                }
            }

            .schedule-status {
                margin-top: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 4px;

                .schedule-status-btns .btn {
                    outline: none;
                    border: 1px solid;

                    &:first-child {
                        border-radius: 3px 0 0 3px;
                        border-right: none;
                    }

                    &:last-child {
                        border-radius: 0 3px 3px 0;
                        border-left: none;
                    }

                    &.btn-outline-green {
                        border-color: $green-400;

                        &.active {
                            color: $white;
                            background-color: $green-400;
                        }
                    }

                    &.btn-outline-red {
                        border-color: $red-400;

                        &.active {
                            color: $white;
                            background-color: $red-400;
                        }
                    }

                    input {
                        display: none;
                    }
                }
            }

            .schedule-options {

                .tables-filtering__form {
                    flex-direction: row;

                    .bootstrap-select .dropdown-menu li a.opt {
                        padding-left: 4px;
                    }

                    #transmitter-field {

                        .transmitter-option {
                            position: relative;

                            .progress {
                                position: absolute;
                                height: 8px;
                            }
                        }

                        .dropdown-menu li.optgroup-1:not(.dropdown-header) {
                            padding-bottom: 12px;
                        }
                    }

                    .add-btn {
                        display: flex;
                        align-items: center;
                        justify-content: end;
                    }

                    @media (max-width: 991px) {
                        flex-wrap: wrap;
                        padding: 10px 0;

                        .add-btn button {
                            width: 100%;
                        }
                    }

                    @media (max-width: 767px) {

                        .form-group {
                            min-width: 50%;

                            .dropdown-menu {
                                width: 100%;
                            }
                        }
                    }
                }
            }

            .more-settings {

                .more-settings-btn {
                    position: relative;
                    padding-left: 0;
                    padding-right: 20px;

                    &::after {
                        position: absolute;
                        top: 9px;
                        right: 0;
                        content: '';
                        background-image: url('/static/img/arrow-down.svg?2b5122b15dc4');
                        width: 20px;
                        height: 12px;
                        background-size: 100%;
                        background-position: center;
                    }

                    &.show {

                        &::after {
                            transform: scale(1, -1);
                        }
                    }
                }

                .more-options, .more-options_sec {
                    display: none;
                    margin-top: 10px;

                    #set-parameters, #set-parameters_sec {
                        width: fit-content;
                    }

                    >.row {
                        padding: 6px 0 2px 0;
                        border-bottom: 1px solid $gray-300;
                    }

                    .title {
                        display: flex;
                        align-items: center;
                        min-width: 50%;
                    }

                    .buttons {
                        display: flex;
                        flex-wrap: wrap;
                        min-width: 470px;

                        label {
                            width: 50%;
                            outline: none;
                            border: 1px solid $gray-150;

                            &:first-child {
                                border-right: none;
                                border-radius: 3px 0 0 3px;
                            }

                            &:nth-child(2) {
                                border-left: none;
                                border-radius: 0 3px 3px 0;
                            }

                            &.active {
                                color: $white;
                                background-color: $gray-150;
                            }

                            input {
                                display: none;
                            }
                        }

                        input {
                            padding: 8px 10px;
                            border-radius: 5px;
                            background-color: transparent;
                            border: 1px solid #38aeff80;
                            color: $dark-50;
                            outline: none;
                            font-size: 14px;
                            margin: 4px 0;
                        }

                        .alert-error {
                            color: $orange-500;
                            font-size: 12px;
                        }
                    }

                    @media (max-width: 991px) {

                        >.row {
                            border-bottom: none;
                        }

                        .buttons {
                            margin-top: 2px;
                        }
                    }

                    @media (max-width: 575px) {

                        .buttons {
                            min-width: 100%;
                            overflow: hidden;
                        }
                    }
                }
            }

            .satellite-table-wrapper {
                margin-top: 30px;
                overflow-x: scroll;

                table {
                    font-size: 14px;
                    line-height: 16px;

                    .empty-schedule {
                        pointer-events: none;

                        td {
                            text-align: center;
                        }
                    }

                    .ui-sortable-handle:hover {
                        cursor: move;
                    }
                }

                @media (max-width: 767px) {

                    table {
                        font-size: 12px;
                    }
                }
            }
        }

        .slider-wrapper {
            width: 100%;
            margin-top: 8px;
            margin-left: 10px;

            .slider {
                position: relative;
                margin-bottom: 20px !important;

                .slider-track {
                    cursor: pointer;
                    height: 6px;
                    border-radius: 5px;
                    background-color: $gray-200;

                    .slider-selection {
                        height: 100%;
                        background-color: $blue-400;
                        position: absolute;
                    }
                }

                .slider-tick-label-container {

                    .slider-tick-label {
                        width: 70px !important;
                        margin-left: -39px !important;
                        text-align: center;

                        &:last-child {
                            right: 0 !important;
                            left: unset !important;
                            text-align: end;
                        }
                    }
                }

                .slider-tick-container {

                    .slider-tick {
                        cursor: pointer;
                        position: absolute;
                        margin-left: -10px;
                        top: -3px;
                        width: 12px;
                        height: 12px;
                        background-color: $gray-200;
                        opacity: .7;
                        border-radius: 50%;

                        &.in-selection {
                            background-color: $orange-400;
                            opacity: 1;
                        }

                        &:last-child {
                            right: 0 !important;
                            left: unset !important;
                        }
                    }
                }

                .slider-handle {
                    cursor: pointer;
                    position: absolute;
                    top: -3px;
                    width: 12px;
                    height: 12px;
                    background-color: $orange-400;
                    border-radius: 50%;
                    margin-left: -10px;

                    &:last-child {
                        margin-left: -12px;
                    }
                }

                .tooltip {
                    top: -50px;
                    margin-left: -10px;
                    white-space: nowrap;

                    .tooltip-inner {
                        margin-left: -10px;
                    }

                    .arrow {
                        bottom: 1px;
                    }
                }
            }

            #min-horizon-slider, #min-horizon-slider_sec {

                .slider-handle {
                    margin-left: -12px;
                }
            }
        }
    }
}

.station-stat {
    stroke: $white;
    fill: $white;
    border-color: $white;
}

.station-stat__item {
    margin: 5px 5px 5px 5px;
    height: 500px;
    width: 500px;
}

.station-stat__header {
    text-align: center;
    width: 500px;
    height: 40px;
}

.station-stat__row {
    display: flex;
    justify-content: space-between;
}

.station-stat__chart {
    width: 500px;
    height: 400px;
}

.station-stat__img {
    width: 100%;
    height: 100%;
}

////////////////////////////////////////////////////////////// Light Theme /////////////////////////////////////////////////////////////

.darkmode--activated {

    .block-station-data .container {

        .progress {
            background-color: $gray-50;
        }

        .nav-tabs .nav-item {
            background-color: $gray-50;
            border-bottom-color: $dark-70;

            &.active {
                background-color: transparent;
            }
        }

        #tab-station-info .content .information-block__table > .row {
            border-top-color: $gray-50;

            .description {
                color: $gray-200;
            }
        }

        #tab-configuration {

            .cards .card {
                background-color: transparent;
                border-color: $gray-50;

                .card-header {
                    background-color: $gray-50;
                    color: $gray-200;
                }
            }
        }

        #tab-future-passes .resulsts #resTable {

            td.pass-schedule .badget {
                background-color: $red-300;
            }
        }

        #tab-station-log table tr {

            &.online:hover {
                background-color: $blue-100;
            }

            &.testing:hover {
                background-color: $orange-100;
            }

            &.offline:hover {
                background-color: $red-100;
            }
        }

        #tab-auto-scheduling {

            .more-settings .more-options {

                > .row {
                    border-bottom-color: $gray-50;
                }

                .buttons {

                    .slider-wrapper .slider {

                        .slider-track {
                            background-color: $gray-50;
                        }

                        .slider-tick-container .slider-tick:not(.in-selection) {
                            background-color: $dark-100;
                        }
                    }

                    input {
                        color: $dark-350;
                    }
                }
            }
        }
    }

    .station-stat {
        stroke: $dark-350;
        fill: $dark-350;
        border-color: $dark-350;
    }

    .station-stat__img {
        width: 100%;
        height: 100%;
        filter: invert(1);
    }
}
