@import '../variables.scss';

.top-tables-content {
    margin-top: 15px;
    gap: 15px;

    .card {
        background-color: transparent;
        border: 1px solid $dark-600;
        border-radius: 4px;
        height: 100%;
        min-width: 324px;

        .card-header {
            padding: 10px;
            align-items: center;
            justify-content: space-between;
            background-color: $dark-600;

            .options {
                display: flex;
                gap: 4px;

                .nonfocus-btn {
                    opacity: .7;
                    transform: scale(.9);
                }
            }
        }

        .card-body {
            padding: 4px 10px 10px 10px;

            table {

                tr:last-child {
                    border-bottom: none;
                }

                tr:hover {
                    color: $blue-400;
                }
            }
        }
    }
}

.summary-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;

    >.row {
        gap: 10px;

        .card {
            border-radius: 0;
            min-width: 300px;

            .card-header {
                justify-content: space-between;
                background-color: $dark-600;
                padding: 12px;

                .arrow {
                    position: relative;
                    padding-right: 12px;

                    &::after {
                        content: '';
                        position: absolute;
                        background-image: url('/static/img/arrow-down.svg');
                        background-size: 100%;
                        transform: rotate(-90deg);
                        width: 14px;
                        height: 12px;
                        top: 5px;
                        right: 0;
                    }
                }
            }

            .card-body {
                padding: 10px;
                text-align: center;

                strong {
                    font-size: 16px;
                }

                .description {
                    margin-top: 8px;
                }
            }
        }
    }
}

.diagrams {
    display: flex;
    flex-direction: column;
    margin-top: 15px;

    >.row {
        align-items: center;

        &.row-with-modes {
            margin-bottom: 30px;
        }
    }

    #modes-labels > .row {
        justify-content: end;
        gap: 30px;

        &:hover {
            color: $orange-400;
        }
    }

    #bands-labels {
        display: flex;
        flex-direction: column;
        justify-content: center;

        > .row {
            justify-content: center;

            .col {
                white-space: nowrap;
            }

            &:hover {
                color: $orange-400;
            }
        }
    }

    @media (max-width: 991px) {

        #modes-labels {

            .mod-count {
                text-align: end;
            }
        }
    }

    @media (max-width: 767px) {

        #modes-labels {
            min-width: 320px;

            >.row {
                justify-content: space-between;
            }
        }

        .row-with-bands {
            flex-wrap: wrap-reverse;

            #bands-labels {
                min-width: 100%;
                max-width: 100%;

                >.row {
                    justify-content: space-between;

                    .band-count {
                        text-align: end;
                    }
                }
            }
        }
    }
}

////////////////////////////////////////////////////////////// Light Theme /////////////////////////////////////////////////////////////

.darkmode--activated {

    .top-tables-content .card {
        border-color: $white;

        .card-header {
            background-color: $white;
        }
    }

    .summary-content > .row .card {

        .card-header {
            background-color: $white;
        }
    }
}
