@import '../variables.scss';

#transmittersFilteringForm {

    .filter_sides {
        gap: 4px;

        .filter_side {
            min-width: 0;
        }
    }

    #slider-range-downlink, #slider-range-baud {
        height: 6px;
        margin: 6px 2px 0 2px;
        border: none;
        background-color: $gray-200;

        .ui-slider-handle {
            border-radius: 50%;
            height: 12px;
            width: 12px;
            top: -3px;
            background-color: $orange-400;
            border-color: $orange-400;

            &:focus-visible {
                opacity: .8;
                outline: none;
            }
        }

        .ui-slider-range {
            background-color: $blue-400;
        }
    }
}

.block-table {
    margin-top: 75px;

    .wrapper {

        .actions {
            position: absolute;
            right: 0;
            top: -45px;
            margin-top: 0;
            width: 100%;
            justify-content: space-between;
        }

        #transmittersTable_paginate {
            display: flex;
        }

        .dataTables_paginate {
            margin-top: 0;
        }
    }
}

////////////////////////////////////////////////////////////// Light Theme /////////////////////////////////////////////////////////////

.darkmode--activated {

    #transmittersFilteringForm #slider-range-baud, #transmittersFilteringForm #slider-range-downlink {
        background-color: $dark-50;
    }
}
